extends ../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      .row
        .col-md-10.margin-top-lg
          .col-lg-10
            .p Formulir D.02 - Registrasi Kwartir Daerah
            h1.bold-700.no-margin #{user.branch.name}
          .col-lg-2
            a(href='/branch/registration/' + branch_registration._id).btn.btn-green.bold-700.btn-sm.margin-top-xs
              i.fa.fa-pencil-square-o.margin-right-xs
              span Ubah Data

        .div.col-md-2.margin-top-xs
          img.float-right(src='/public/assets/images/branch_logo/' + user.branch.logo, style="width: 60%")


  .wrapper.wrapper-content
    .col-lg-10.margin-bottom-xlg
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              .col-lg-12
                h3.align-center PENDAFTARAN KWARTIR DAERAH MENGIKUTI  JAMBORE NASIONAL X 2016
            .ibox-content
              .col-lg-12
                .col-lg-3.no-margin.no-padding
                  label.control-label.align-left.margin-bottom-xxs Kwartir Daerah
                .col-lg-9
                  = branch_registration.branch.name
              .col-lg-12
                .hr-line-dashed
              .col-lg-12
                .col-lg-3.no-margin.no-padding
                  label.control-label.align-left.margin-bottom-xxs Alamat
                .col-lg-9
                  .col-lg-12.no-padding-left.margin-top-xs
                    = branch_registration.address
                  .col-lg-5.no-padding-left.margin-top-xs
                    label.control-label.align-left.margin-bottom-xxs Provinsi
                    br
                    = branch_registration.province.name
                  .col-lg-5.no-padding-right.margin-top-xs
                    label.control-label.align-left.margin-bottom-xxs Kota / Kabupaten
                    br
                    = branch_registration.regency_city.name
                  .col-lg-2.no-padding-right.margin-top-xs
                    label.control-label.align-left.margin-bottom-xxs Kodepos
                    = branch_registration.zipcode
              .col-lg-12
                .hr-line-dashed
              .col-lg-12
                .col-lg-3.no-margin.no-padding
                  label.control-label.align-left.margin-bottom-xxs Kontak
                .col-lg-9
                  .col-lg-6.no-padding-left
                    label.control-label.align-left.margin-bottom-xxs No Telp.
                    .input-group.m-b
                      span.input-group-addon
                        i.glyphicon.glyphicon-phone-alt
                      input.form-control.m-b.no-margin(type='text', name='phone', disabled, value=branch_registration.phone)
                  .col-lg-6.no-padding-right
                    label.control-label.align-left.margin-bottom-xxs No. Handphone Pinkonda
                    .input-group.m-b
                      span.input-group-addon
                        i.glyphicon.glyphicon-phone
                      input.form-control.m-b.no-margin(type='text', name='mobile_phone', disabled,  value=branch_registration.mobile_phone)
              div(style='width:100%;height:1px;clear:both;')
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              h5 DAFTAR PESERTA & BINDAMPING
              .ibox-tools
                a.collapse-link
                  i.fa.fa-chevron-up
            .ibox-content
              .col-lg-12
                .col-lg-12.margin-top-xs
                  .col-lg-1.align-center.padding-top-bottom-xs
                    h4.control-label.align-left.margin-bottom-xxs No
                  .col-lg-5.padding-top-bottom-xs
                    h4.control-label.align-left.margin-bottom-xxs Kwartir Cabang
                  .col-lg-3.align-center
                    h4 Peserta
                    .row
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Putera
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Puteri
                  .col-lg-3.align-center
                    h4 Pendamping
                    .row
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Putera
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Puteri
                each participant, index in branch_registration.participants
                  .col-lg-12.margin-bottom-xxs
                    .col-lg-1.align-center.no-padding
                      p.control-label.align-left.margin-top-xxs #{index+1}.
                    .col-lg-5.no-padding
                      = participant.sub_branch.name
                    .col-lg-3.align-center
                      .row
                        .col-lg-6
                          = participant.num_male
                        .col-lg-6
                          = participant.num_female

                    .col-lg-3.align-center
                      .row
                        .col-lg-6
                          = participant.num_male_leader
                        .col-lg-6
                          = participant.num_female_leader

              div(style='width:100%;height:1px;clear:both;')
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              h5 DAFTAR PESERTA & BINDAMPING PBK
              .ibox-tools
                a.collapse-link
                  i.fa.fa-chevron-up
            .ibox-content
              .col-lg-12
                .col-lg-12.margin-top-xs
                  .col-lg-1.align-center.padding-top-bottom-xs
                    h4.control-label.align-left.margin-bottom-xxs No
                  .col-lg-5.padding-top-bottom-xs
                    h4.control-label.align-left.margin-bottom-xxs PBK
                  .col-lg-3.align-center
                    h4 Peserta
                    .row
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Putera
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Puteri
                  .col-lg-3.align-center
                    h4 Pendamping
                    .row
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Putera
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Puteri
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center.no-padding
                    p.control-label.align-left.margin-top-xxs 1.
                  .col-lg-5.no-padding
                    p.control-label.align-left.margin-top-xxs Tunanetra
                  .col-lg-3.align-center
                    .row
                      .col-lg-6
                        = branch_registration.special_participants.tunanetra.num_male
                      .col-lg-6
                        = branch_registration.special_participants.tunanetra.num_female
                  .col-lg-3.align-center
                    .row
                      .col-lg-6
                        = branch_registration.special_participants.tunanetra.num_male_leader
                      .col-lg-6
                        = branch_registration.special_participants.tunanetra.num_female_leader
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center.no-padding
                    p.control-label.align-left.margin-top-xxs 2.
                  .col-lg-5.no-padding
                    p.control-label.align-left.margin-top-xxs Tunarungu
                  .col-lg-3.align-center
                    .row
                      .col-lg-6
                        = branch_registration.special_participants.tunarungu.num_male
                      .col-lg-6
                        = branch_registration.special_participants.tunarungu.num_female
                  .col-lg-3.align-center
                    .row
                      .col-lg-6
                        = branch_registration.special_participants.tunarungu.num_male_leader
                      .col-lg-6
                        = branch_registration.special_participants.tunarungu.num_female_leader
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center.no-padding
                    p.control-label.align-left.margin-top-xxs 3.
                  .col-lg-5.no-padding
                    p.control-label.align-left.margin-top-xxs Tunagrahita
                  .col-lg-3.align-center
                    .row
                      .col-lg-6
                        = branch_registration.special_participants.tunagrahita.num_male
                      .col-lg-6
                        = branch_registration.special_participants.tunagrahita.num_female
                  .col-lg-3.align-center
                    .row
                      .col-lg-6
                        = branch_registration.special_participants.tunagrahita.num_male_leader
                      .col-lg-6
                        = branch_registration.special_participants.tunagrahita.num_female_leader
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center.no-padding
                    p.control-label.align-left.margin-top-xxs 4.
                  .col-lg-5.no-padding
                    p.control-label.align-left.margin-top-xxs Tunadaksa
                  .col-lg-3.align-center
                    .row
                      .col-lg-6
                        = branch_registration.special_participants.tunadaksa.num_male
                      .col-lg-6
                        = branch_registration.special_participants.tunadaksa.num_female
                  .col-lg-3.align-center
                    .row
                      .col-lg-6
                        = branch_registration.special_participants.tunadaksa.num_male_leader
                      .col-lg-6
                        = branch_registration.special_participants.tunadaksa.num_female_leader
              div(style='width:100%;height:1px;clear:both;')
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              h5 DAFTAR PINKONDA & PINKONCAB
              .ibox-tools
                a.collapse-link
                  i.fa.fa-chevron-up
            .ibox-content
              .col-lg-12
                .col-lg-12.margin-bottom-xs
                  .col-lg-1.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs No
                  .col-lg-4.align-center
                    label.control-label.align-left.margin-bottom-xxs PINKONDA / PINKONCAB
                  .col-lg-2.align-center
                    label.control-label.align-left.margin-bottom-xxs Putera
                  .col-lg-2.align-center
                    label.control-label.align-left.margin-bottom-xxs Puteri
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center
                    p.control-label.align-center.margin-top-xxs 1.
                  .col-lg-4
                    p.control-label.align-center.margin-top-xxs Pimpinan Kontingen Daerah
                  .col-lg-2.align-center.margin-top-xxs
                    = branch_registration.head_participants.pinkonda.num_male
                  .col-lg-2.align-center.margin-top-xxs
                    .row
                      = branch_registration.head_participants.pinkonda.num_female
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center
                    p.control-label.align-center.margin-top-xxs 2.
                  .col-lg-4
                    p.control-label.align-center.margin-top-xxs Pimpinan Kontingen Cabang
                  .col-lg-2.align-center.margin-top-xxs
                    = branch_registration.head_participants.pinkoncab.num_male
                  .col-lg-2.align-center.margin-top-xxs
                    = branch_registration.head_participants.pinkoncab.num_female

              div(style='width:100%;height:1px;clear:both;')
      .row.margin-bottom-xlg
        .col-lg-12
          .ibox.float-e-margins
            .ibox-content
              .col-lg-12.margin-top-xlg.align-center
                .col-lg-6.col-lg-offset-3
                  a.form-control.btn.btn-green.bold-700(type='button' href='/stored_files/'+branch_registration.file target='_blank')
                    i.fa.fa-download.margin-right-xs
                    span Lampiran Form D.02 - #{user.branch.name}
                  p.fg-red Jika Anda tidak dapat melihat Lampiran Form D.02, maka Kwartir Daerah tersebut tidak melampirkan bukti otentik.
              div(style='width:100%;height:1px;clear:both;')



block script
  script.
    var user = !{JSON.stringify(__defaultViewData.user)};
