extends ../layouts/default-user

block content
	.row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
		.col-lg-12
			.col-md-10.margin-top-lg
				.col-lg-10
					.p Konfirmasi Pembayaran
					h1.bold-700.no-margin #{user.branch.name}
				.col-lg-2
					a(href='/branch/' + branch_payment.branch._id + '/payment/' + branch_payment._id).btn.btn-green.bold-700.btn-sm.margin-top-xs
						i.fa.fa-pencil-square-o.margin-right-xs
						span Ubah Data

			.div.col-md-2.margin-top-xs
				img.float-right(src='/public/assets/images/branch_logo/' + user.branch.logo, style="width: 60%")

	.wrapper.wrapper-content
		.col-lg-10.margin-bottom-xlg
			#branchPayment
				div
					.row
						.col-lg-12
							.ibox.float-e-margins
								.col-lg-12.title-center.align-center
									h5 KONFIRMASI PEMBAYARAN BIAYA PARTISIPASI
									h5 JAMBORE NASIONAL X 2016
								.ibox-content
									.col-lg-12
										.col-lg-4
											p.margin-top-xs Kwartir Daerah
										.col-lg-8
											p.margin-top-xs
												= branch_payment.branch.name
									.col-lg-12
										.col-lg-4
											p.margin-top-md Metode Pembayaran
										.col-lg-8
											p.margin-top-md
												= branch_payment.method
									.col-lg-12
										.col-lg-4
											p.margin-top-md Jumlah yang Dibayarkan
										.col-lg-8
											p.margin-top-md
												= branch_payment.amount
									.col-lg-12
										.col-lg-4
											p.margin-top-md Tanggal Pembayaran
										.col-lg-8
											p.margin-top-md
												= moment(branch_payment.paid).format("YYYY-MM-DD HH:mm")
									.col-lg-12
										.col-lg-4
											p.margin-top-md Nama Pemegang Rekening Pengirim
										.col-lg-8
											p.margin-top-md
												= branch_payment.account_name
									.col-lg-12
										.col-lg-4
											p.margin-top-md Nomor Rekening Pengirim
										.col-lg-8
											p.margin-top-md
												= branch_payment.account_number

									.col-lg-12
										.col-lg-4
											p.margin-top-md Bukti Pembayaran
										.col-lg-8
											a.margin-top-md.bold-700(href='/stored_files/'+ branch_payment.file target='_blank')
												i.fa.fa-download.margin-top-md
												|  Lihat Bukti Pembayaran

									div(style='width:100%;height:1px;clear:both;')
							.ibox.float-e-margins
								.col-lg-12.title-center
									h5 KONFIRMASI PEMBAYARAN YANG TELAH DIKIRIMKAN
								.ibox-content
									.col-lg-12
										.table-responsive
											table.table.table-striped.table-bordered.table-hover.dataTables-example
												thead
													tr
														th #
														th Tanggal
														th Metode
														th Jumlah
														th Nomor Rekening
														th Nama Pengirim
														th Lampiran
														th Aksi
												tbody
													each payment,i in branch_payments
														tr
															td #{i + 1}.
															td
																= moment(payment.paid).format("YYYY-MM-DD HH:mm")
															td
																= payment.method
															td
																= payment.amount
															td
																= payment.account_number
															td
																= payment.account_name
															td.align-center
																a.btn.btn-success.btn-xs.no-margin(href='/stored_files/'+payment.file target='_blank') Lihat
															td.align-center
																a.btn.btn-info.btn-xs.no-margin(href='/branch/payment/'+payment._id) Lihat

									div(style='width:100%;height:1px;clear:both;')







block script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script.
		var user = !{JSON.stringify(__defaultViewData.user)};
