extends ../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      .col-md-10.margin-top-lg
        .p Formulir D.02 - Pendaftaran Kwartir Daerah
        h1.bold-700.no-margin #{user.branch.name}

      .div.col-md-2.margin-top-xs
        img.float-right(src='/public/assets/images/branch_logo/'+user.branch.logo, style="width: 60%")

  .wrapper.wrapper-content
    form(action='/api/branch_registration/'+branch_registration._id, method='POST', id='form', redirect='/branch/registration')
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              .col-lg-12
                h3.align-center PENDAFTARAN KWARTIR DAERAH MENGIKUTI  JAMBORE NASIONAL X 2016
            .ibox-content
              .col-lg-12
                .col-lg-3.no-margin.no-padding
                  label.control-label.align-left.margin-bottom-xxs Kwartir Daerah
                .col-lg-9
                  select.form-control.m-b.no-margin(name='branch', disabled='')
                    option
                      = user.branch.name
              .col-lg-12
                .hr-line-dashed
              .col-lg-12
                .col-lg-3.no-margin.no-padding
                  label.control-label.align-left.margin-bottom-xxs Alamat
                .col-lg-9
                  textarea.form-control(name='address', rows='3')
                    = branch_registration.address
                  .col-lg-5.no-padding-left.margin-top-xs
                    label.control-label.align-left.margin-bottom-xxs Provinsi
                    select.form-control.m-b.no-margin.provinces(name='province')
                      option(value=branch_registration.province._id)
                         = branch_registration.province.name
                      each province in provinces
                        option(value=province._id)
                          = province.name
                  .col-lg-5.no-padding-right.margin-top-xs
                    label.control-label.align-left.margin-bottom-xxs Kota / Kabupaten
                    select.form-control.m-b.no-margin.regency_cities(name='regency_city')
                      option(value=branch_registration.regency_city._id)
                        = branch_registration.regency_city.name
                  .col-lg-2.no-padding-right.margin-top-xs
                    label.control-label.align-left.margin-bottom-xxs Kodepos
                    input.form-control.m-b.no-margin(type='text', name='zipcode' value=branch_registration.zipcode)
              .col-lg-12
                .hr-line-dashed
              .col-lg-12
                .col-lg-3.no-margin.no-padding
                  label.control-label.align-left.margin-bottom-xxs Kontak
                .col-lg-9
                  .col-lg-6.no-padding-left
                    label.control-label.align-left.margin-bottom-xxs No Telp. Kwarda
                    .input-group.m-b
                      span.input-group-addon
                        i.glyphicon.glyphicon-phone-alt
                      input.form-control.m-b.no-margin(type='text', name='phone' value=branch_registration.phone)
                  .col-lg-6.no-padding-right
                    label.control-label.align-left.margin-bottom-xxs No. Handphone Pinkonda
                    .input-group.m-b
                      span.input-group-addon
                        i.glyphicon.glyphicon-phone
                      input.form-control.m-b.no-margin(type='text', name='mobile_phone' value=branch_registration.mobile_phone)
              div(style='width:100%;height:1px;clear:both;')
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              h5 DAFTAR PESERTA & BINDAMPING
              .ibox-tools
                a.collapse-link
                  i.fa.fa-chevron-up
            .ibox-content
              .col-lg-12
                .col-lg-12.margin-top-xs
                  .col-lg-1.align-center.padding-top-bottom-xs
                    h4.control-label.align-left.margin-bottom-xxs No
                  .col-lg-5.padding-top-bottom-xs
                    h4.control-label.align-left.margin-bottom-xxs Kwartir Cabang
                  .col-lg-3.align-center
                    h4 Peserta
                    .row
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Putera
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Puteri
                  .col-lg-3.align-center
                    h4 Pembina Pendamping
                    .row
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Putera
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Puteri

                each participant, index in branch_registration.participants
                  .col-lg-12.margin-bottom-xxs
                    .col-lg-1.align-center.no-padding
                      p.control-label.align-left.margin-top-xxs #{index+1}.
                    .col-lg-5.no-padding
                      = participant.sub_branch.name
                      input.form-control(type='hidden', name='participants['+index+'][sub_branch]', value=participant.sub_branch.id)
                    .col-lg-3
                      .row
                        .col-lg-6
                          input.form-control.align-center(type='text', name='participants['+index+'][num_male]', placeholder='Jumlah' value=participant.num_male)
                        .col-lg-6
                          input.form-control.align-center(type='text', name='participants['+index+'][num_female]', placeholder='Jumlah' value=participant.num_female)
                    .col-lg-3
                      .row
                        .col-lg-6
                          input.form-control.align-center(type='text', name='participants['+index+'][num_male_leader]', placeholder='Jumlah' value=participant.num_male_leader)
                        .col-lg-6
                          input.form-control.align-center(type='text', name='participants['+index+'][num_female_leader]', placeholder='Jumlah' value=participant.num_female_leader)

              div(style='width:100%;height:1px;clear:both;')
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              h5 DAFTAR PESERTA & BINDAMPING PBK
              .ibox-tools
                a.collapse-link
                  i.fa.fa-chevron-up
            .ibox-content
              .col-lg-12
                .col-lg-12.margin-top-xs
                  .col-lg-1.align-center.padding-top-bottom-xs
                    h4.control-label.align-left.margin-bottom-xxs No
                  .col-lg-5.padding-top-bottom-xs
                    h4.control-label.align-left.margin-bottom-xxs PBK
                  .col-lg-3.align-center
                    h4 Peserta
                    .row
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Putera
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Puteri
                  .col-lg-3.align-center
                    h4 Pendamping
                    .row
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Putera
                      .col-lg-6
                        label.control-label.align-left.margin-bottom-xxs Puteri
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center.no-padding
                    p.control-label.align-left.margin-top-xxs 1.
                  .col-lg-5.no-padding
                    p.control-label.align-left.margin-top-xxs Tunanetra
                  .col-lg-3
                    .row
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunanetra][num_male]', placeholder='Jumlah' value=branch_registration.special_participants.tunanetra.num_male)
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunanetra][num_female]', placeholder='Jumlah' value=branch_registration.special_participants.tunanetra.num_female)
                  .col-lg-3
                    .row
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunanetra][num_male_leader]', placeholder='Jumlah' value=branch_registration.special_participants.tunanetra.num_male_leader)
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunanetra][num_female_leader]', placeholder='Jumlah' value=branch_registration.special_participants.tunanetra.num_female_leader)
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center.no-padding
                    p.control-label.align-left.margin-top-xxs 2.
                  .col-lg-5.no-padding
                    p.control-label.align-left.margin-top-xxs Tunarungu
                  .col-lg-3
                    .row
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunarungu][num_male]', placeholder='Jumlah' value=branch_registration.special_participants.tunarungu.num_male)
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunarungu][num_female]', placeholder='Jumlah' value=branch_registration.special_participants.tunarungu.num_female)
                  .col-lg-3
                    .row
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunarungu][num_male_leader]', placeholder='Jumlah' value=branch_registration.special_participants.tunarungu.num_male_leader)
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunarungu][num_female_leader]', placeholder='Jumlah' value=branch_registration.special_participants.tunarungu.num_female_leader)
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center.no-padding
                    p.control-label.align-left.margin-top-xxs 3.
                  .col-lg-5.no-padding
                    p.control-label.align-left.margin-top-xxs Tunagrahita
                  .col-lg-3
                    .row
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunagrahita][num_male]', placeholder='Jumlah' value=branch_registration.special_participants.tunagrahita.num_male)
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunagrahita][num_female]', placeholder='Jumlah' value=branch_registration.special_participants.tunagrahita.num_female)
                  .col-lg-3
                    .row
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunagrahita][num_male_leader]', placeholder='Jumlah' value=branch_registration.special_participants.tunagrahita.num_male_leader)
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunagrahita][num_female_leader]', placeholder='Jumlah' value=branch_registration.special_participants.tunagrahita.num_female_leader)
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center.no-padding
                    p.control-label.align-left.margin-top-xxs 4.
                  .col-lg-5.no-padding
                    p.control-label.align-left.margin-top-xxs Tunadaksa
                  .col-lg-3
                    .row
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunadaksa][num_male]', placeholder='Jumlah' value=branch_registration.special_participants.tunadaksa.num_male)
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunadaksa][num_female]', placeholder='Jumlah' value=branch_registration.special_participants.tunadaksa.num_female)
                  .col-lg-3
                    .row
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunadaksa][num_male_leader]', placeholder='Jumlah' value=branch_registration.special_participants.tunadaksa.num_male_leader)
                      .col-lg-6
                        input.form-control.align-center(type='text', name='special_participants[tunadaksa][num_female_leader]', placeholder='Jumlah' value=branch_registration.special_participants.tunadaksa.num_female_leader)
              div(style='width:100%;height:1px;clear:both;')
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              h5 DAFTAR PINKONDA & PINKONCAB
              .ibox-tools
                a.collapse-link
                  i.fa.fa-chevron-up
            .ibox-content
              .col-lg-12
                .col-lg-12.margin-bottom-xs
                  .col-lg-1.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs No
                  .col-lg-4.align-center
                    label.control-label.align-left.margin-bottom-xxs PINKONDA / PINKONCAB
                  .col-lg-2.align-center
                    label.control-label.align-left.margin-bottom-xxs Putera
                  .col-lg-2.align-center
                    label.control-label.align-left.margin-bottom-xxs Puteri
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center
                    p.control-label.align-center.margin-top-xxs 1.
                  .col-lg-4
                    p.control-label.align-center.margin-top-xxs Pimpinan Kontingen Daerah
                  .col-lg-2
                    input.form-control.align-center(type='text', name='head_participants[pinkonda][num_male]', placeholder='Jumlah' value=branch_registration.head_participants.pinkonda.num_male)
                  .col-lg-2
                    .row
                      input.form-control.align-center(type='text', name='head_participants[pinkonda][num_female]', placeholder='Jumlah' value=branch_registration.head_participants.pinkonda.num_female)
                .col-lg-12.margin-bottom-xxs
                  .col-lg-1.align-center
                    p.control-label.align-center.margin-top-xxs 2.
                  .col-lg-4
                    p.control-label.align-center.margin-top-xxs Pimpinan Kontingen Cabang
                  .col-lg-2
                    input.form-control.align-center(type='text', name='head_participants[pinkoncab][num_male]', placeholder='Jumlah' value=branch_registration.head_participants.pinkoncab.num_male)
                  .col-lg-2
                    .row
                      input.form-control.align-center(type='text', name='head_participants[pinkoncab][num_female]', placeholder='Jumlah' value=branch_registration.head_participants.pinkoncab.num_female)
              div(style='width:100%;height:1px;clear:both;')
      .row.margin-bottom-xlg
        .col-lg-12
          .ibox.float-e-margins
            .ibox-content
              .col-lg-12.margin-top-lg
                .col-lg-12
                  p.bold-700 Lampirkan bukti otentik formulir Pendaftaran Kwartir Daerah D.02
                    span.fg-red.bold-700  (wajib)
                  input(type='file', name='file[name]')
                  input(type='hidden', name='file[type]', value='kwarda-registration-letter')
              .col-lg-12.margin-top-xlg.align-center
                .col-lg-6.col-lg-offset-3
                  p.fg-red Pastikan Anda sudah mengisi seluruh form dengan benar dan melampirkan bukti otentik
                  button.form-control.btn.btn-green.bold-700.submit(type='button')
                    i.fa.fa-paper-plane.margin-right-xs
                    span Ubah Surat Kesediaan
              div(style='width:100%;height:1px;clear:both;')





block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script.
    var user = !{JSON.stringify(__defaultViewData.user)};

    $(".provinces").change(function () {
      $.ajax({
        url: '/api/locations/' + $( "select.provinces option:selected").val() + '/locations',
        type: 'GET',
        success: function (data) {
          $('.regency_cities').empty();
          $('.regency_cities').append('<option> - </option>');
          data.results.forEach(function (regency_city) {
            $('.regency_cities').append('<option value=\''+ regency_city._id +'\'>'+regency_city.name+'</option>');
          });
        }
      });
    });

    $(".submit").click(function () {
      var form = $('form');
      $.ajax({
        url: form.attr("action"),
        type: form.attr("method"),
        data: form.serialize(),
        success: function (result) {
          document.location = form.attr("redirect");
        }
      });
    });
