extends ../layouts/default-user

block content
	.row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
		.col-lg-12
			.col-md-10.margin-top-lg
				.col-lg-10
					.p Formulir D.07
					h1.bold-700.no-margin #{user.branch.name}
				.col-lg-2
					a(href='/branch/' + branch_transport.branch._id + '/transport/' + branch_transport._id).btn.btn-green.bold-700.btn-sm.margin-top-xs
						i.fa.fa-pencil-square-o.margin-right-xs
						span Ubah Data

			.div.col-md-2.margin-top-xs
				img.float-right(src='/public/assets/images/branch_logo/' + user.branch.logo, style="width: 60%")

	.wrapper.wrapper-content

		.col-lg-10
			.row
				.col-lg-12
					.ibox.float-e-margins
						.ibox-title
							.col-lg-12
								h3.align-center RENCANA KEDATANGAN DAN KEPULANGAN KONTINGEN
								h3.align-center JAMBORE NASIONAL X 2016
							div(style='width:100%;height:1px;clear:both;')
						.ibox-content
							.col-lg-12
								.col-lg-3.no-margin.no-padding
									label.control-label.align-left.margin-bottom-xxs Kwartir Daerah
								.col-lg-9
									= branch_transport.branch.name

							.col-lg-12
								.hr-line-dashed
							.col-lg-12
								.col-lg-3.no-margin.no-padding
									label.control-label.align-left.margin-bottom-xxs Alamat
								.col-lg-9
									.col-lg-12.no-padding-left.margin-top-xs
										= branch_transport.address
									.col-lg-5.no-padding-left.margin-top-xs
										label.control-label.align-left.margin-bottom-xxs Provinsi
										br
										= branch_transport.province.name
									.col-lg-5.no-padding-right.margin-top-xs
										label.control-label.align-left.margin-bottom-xxs Kota / Kabupaten
										br
										= branch_transport.regency_city.name
									.col-lg-2.no-padding-right.margin-top-xs
										label.control-label.align-left.margin-bottom-xxs Kodepos
										= branch_transport.zipcode
							.col-lg-12
								.hr-line-dashed
							.col-lg-12
								.col-lg-3.no-margin.no-padding
									label.control-label.align-left.margin-bottom-xxs Kontak
								.col-lg-9
									.col-lg-6.no-padding-left
										label.control-label.align-left.margin-bottom-xxs No Telp. Kwarda
										.input-group.m-b
											span.input-group-addon
												i.glyphicon.glyphicon-phone-alt
											input.form-control.m-b.no-margin(type='text', disabled, value = branch_transport.phone)
									.col-lg-6.no-padding-right
										label.control-label.align-left.margin-bottom-xxs No. Handphone Pinkonda
										.input-group.m-b
											span.input-group-addon
												i.glyphicon.glyphicon-phone
											input.form-control.m-b.no-margin(type='text', disabled, value = branch_transport.mobile_phone)
							div(style='width:100%;height:1px;clear:both;')
			.row
				.col-lg-12
					.ibox.float-e-margins
						.ibox-title
							h5 DETAIL KONTINGEN
							.ibox-tools
								a.collapse-link
									i.fa.fa-chevron-up
						.ibox-content
							.col-lg-12
								.col-lg-12.margin-top-xs
									.col-lg-1.align-center
										label.control-label.align-left.margin-bottom-xxs No
									.col-lg-7
										label.control-label.align-left.margin-bottom-xxs Klasifikasi
									.col-lg-2.align-center
										label.control-label.align-left.margin-bottom-xxs Putera
									.col-lg-2.align-center
										label.control-label.align-left.margin-bottom-xxs Puteri
								.col-lg-12.margin-bottom-xxs
									.col-lg-1.align-center
										p.control-label.align-center.margin-top-xxs 1.
									.col-lg-7
										p.control-label.align-left.margin-top-xxs Pimpinan Kontingen Daerah
									.col-lg-2.align-center
										= branch_transport.contingent.branch_leader.male || 0
									.col-lg-2.align-center
										= branch_transport.contingent.branch_leader.female || 0
								.col-lg-12.margin-bottom-xxs
									.col-lg-1.align-center
										p.control-label.align-center.margin-top-xxs 2.
									.col-lg-7
										p.control-label.align-left.margin-top-xxs Staf Kontingen Daerah
									.col-lg-2.align-center
										= branch_transport.contingent.branch_staff.male || 0
									.col-lg-2.align-center
										= branch_transport.contingent.branch_staff.female || 0
								.col-lg-12.margin-bottom-xxs
									.col-lg-1.align-center
										p.control-label.align-center.margin-top-xxs 3.
									.col-lg-7
										p.control-label.align-left.margin-top-xxs Pimpinan Kontingen Cabang
									.col-lg-2.align-center
										= branch_transport.contingent.subbranch_leader.male || 0
									.col-lg-2.align-center
										= branch_transport.contingent.subbranch_leader.female || 0
								.col-lg-12.margin-bottom-xxs
									.col-lg-1.align-center
										p.control-label.align-center.margin-top-xxs 4.
									.col-lg-7
										p.control-label.align-left.margin-top-xxs Pembina Pendamping
									.col-lg-2.align-center
										= branch_transport.contingent.leader.male || 0
									.col-lg-2.align-center
										= branch_transport.contingent.leader.female || 0
								.col-lg-12.margin-bottom-xxs
									.col-lg-1.align-center
										p.control-label.align-center.margin-top-xxs 5.
									.col-lg-7
										p.control-label.align-left.margin-top-xxs Pramuka Penggalang
									.col-lg-2.align-center
										= branch_transport.contingent.scout_penggalang.male || 0
									.col-lg-2.align-center
										= branch_transport.contingent.scout_penggalang.female || 0
								.col-lg-12.margin-bottom-xxs
									.col-lg-1.align-center
										p.control-label.align-center.margin-top-xxs 6.
									.col-lg-7
										p.control-label.align-left.margin-top-xxs PBK
									.col-lg-2.align-center
										= branch_transport.contingent.scout_pbk.male || 0
									.col-lg-2.align-center
										= branch_transport.contingent.scout_pbk.female || 0
								.col-lg-12.margin-bottom-xxs
									.col-lg-1.align-center
										p.control-label.align-center.margin-top-xxs
									.col-lg-7
										label.control-label.align-center.margin-top-xxs Total
									.col-lg-2.align-center
										= branch_transport.contingent_total.male || 0
									.col-lg-2.align-center
										= branch_transport.contingent_total.female || 0
							div(style='width:100%;height:1px;clear:both;')
			.row
				.col-lg-12
					.ibox.float-e-margins
						.ibox-title
							h5 KEBERANGKATAN, KEDATANGAN, dan KEPULANGAN
							.ibox-tools
								a.collapse-link
									i.fa.fa-chevron-up
						.ibox-content
							.col-lg-12
								.col-lg-3.no-margin.no-padding
									label.control-label.align-left.margin-bottom-xxs Keberangkatan
								.col-lg-9
									.col-lg-12.no-padding
										.col-lg-6
											label.control-label.align-left.margin-bottom-xxs Tanggal
											br
											= moment(branch_transport.departure.date).format("YYYY-MM-DD") + " jam " + branch_transport.departure.time + " WIB"
										.col-lg-6
											label.control-label.align-left.margin-bottom-xxs Angkutan
											br
											= branch_transport.departure.transportation_type
									.col-lg-12.no-padding.margin-top-xs
										.col-lg-3
											label.control-label.align-left.margin-bottom-xxs Tempat Keberangkatan
										.col-lg-9
											= branch_transport.departure.location
							.col-lg-12.padding-top-bottom-xs
								.hr-line-dashed
							.col-lg-12
								.col-lg-3.no-margin.no-padding
									label.control-label.align-left.margin-bottom-xxs Kedatangan
								.col-lg-9
									.col-lg-12.no-padding
										.col-lg-6
											label.control-label.align-left.margin-bottom-xxs Tanggal dan Jam
											br
											= moment(branch_transport.arrival.date).format("YYYY-MM-DD") + " jam " + branch_transport.arrival.time + " WIB"
										.col-lg-6
											label.control-label.align-left.margin-bottom-xxs Angkutan
											br
											= branch_transport.arrival.transportation_type
									.col-lg-12.no-padding.margin-top-xs
										.col-lg-3
											label.control-label.align-left.margin-bottom-xxs Tempat Kedatangan
										.col-lg-9
											= branch_transport.arrival.location
							.col-lg-12.padding-top-bottom-xs
								.hr-line-dashed
							.col-lg-12
								.col-lg-3.no-margin.no-padding
									label.control-label.align-left.margin-bottom-xxs Kepulangan
								.col-lg-9
									.col-lg-12.no-padding
										.col-lg-6
											label.control-label.align-left.margin-bottom-xxs Tanggal
											br
											= moment(branch_transport.return.date).format("YYYY-MM-DD") + " jam " + branch_transport.return.time + " WIB"
										.col-lg-6
											label.control-label.align-left.margin-bottom-xxs Angkutan
											br
											= branch_transport.return.transportation_type
									.col-lg-12.no-padding.margin-top-xs
										.col-lg-3
											label.control-label.align-left.margin-bottom-xxs Dari Perkemahan
										.col-lg-9
											= branch_transport.return.location
							div(style='width:100%;height:1px;clear:both;')

			.row.margin-bottom-xlg
				.col-lg-12
					.ibox.float-e-margins
						.ibox-title
							h5 DATA KEBERANGKATAN, KEDATANGAN DAN KEPULANGAN YANG TERDAFTAR
						.ibox-content
							.row
								.col-lg-12
									.table-responsive
										table.table.table-striped.table-bordered.table-hover.dataTables-example
											thead
												tr
													th #
													th Kwartir Daerah
													th Jumlah Kontingen
													th Keberangkatan
													th Kedatangan
													th Kepulangan
													th Aksi
											tbody
												each transport,i in branch_transports
													tr
														td #{i + 1}.
														td
															= transport.branch.name
														td
															= transport.contingent_total.male + transport.contingent_total.female
														td
															p
																= "Tanggal	 : " + moment(transport.departure.date).format("YYYY-MM-DD")
																br
																= "Jam			 :" + transport.departure.time
																br
																= "Kendaraan :" + transport.departure.transportation_type
																br
																= "Lokasi 	 :" + transport.departure.location
														td
															p
																= "Tanggal	 : " + moment(transport.arrival.date).format("YYYY-MM-DD")
																br
																= "Jam			 :" + transport.arrival.time
																br
																= "Kendaraan :" + transport.arrival.transportation_type
																br
																= "Lokasi 	 :" + transport.arrival.location
														td
															p
																= "Tanggal	 : " + moment(transport.return.date).format("YYYY-MM-DD")
																br
																= "Jam			 :" + transport.return.time
																br
																= "Kendaraan :" + transport.return.transportation_type
																br
																= "Lokasi 	 :" + transport.return.location
														td.align-center
															a.btn.btn-success.btn-xs.no-margin.margin-bottom-xs(href='/stored_files/'+transport.file target='_blank') Lihat Lampiran
															a.btn.btn-info.btn-xs.no-margin(href='/branch/transport/' + transport._id) Lihat Data







block script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script.
		var user = !{JSON.stringify(__defaultViewData.user)};
