extends ../layouts/default-user

block content
	.row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
		.col-lg-12
			.col-md-10.margin-top-lg
				.p Konfirmasi Pembayaran
				h1.bold-700.no-margin #{user.branch.name}

			.div.col-md-2.margin-top-xs
				img.float-right(src='/public/assets/images/branch_logo/' + user.branch.logo, style="width: 60%")

	.wrapper.wrapper-content
		form(action='/api/branch_payment' method='PUT', id='form', encytype="multipart/form-data")
			.col-lg-10.margin-bottom-xlg
				#branchPayment
					div
						.row
							.col-lg-12
								.ibox.float-e-margins
									.col-lg-12.title-center.align-center
										h5 KONFIRMASI PEMBAYARAN BIAYA PARTISIPASI
										h5 JAMBORE NASIONAL X 2016
									.ibox-content
										.col-lg-12
											.col-lg-4
												p.margin-top-xs Kwartir Daerah
											.col-lg-8
												input.form-control(type='text', disabled='', value=user.branch.name, name='branch')
										.col-lg-12
											.col-lg-4
												p.margin-top-md Metode Pembayaran
											.col-lg-8
												select.form-control.margin-top-xs(name='method')
													option(value='atm') ATM Transfer
													option(value='setor-tunai') Setor Tunai
													option(value='internet-banking') Internet Banking
													option(value='sms-banking') SMS Banking
										.col-lg-12
											.col-lg-4
												p.margin-top-md Jumlah yang Dibayarkan
											.col-lg-8
												.input-group.m-b.margin-top-xs
													span.input-group-addon Rp.
													input.form-control.m-b.no-margin(type='text', name='amount' required)
										.col-lg-12
											.col-lg-4
												p.margin-top-xs Tanggal Pembayaran
											.col-lg-8
												#data_1.form-group
													.input-group.date
														span.input-group-addon
															i.fa.fa-calendar
														input.form-control(type='text', name='paid', readonly, placeholder='pilih tanggal pembayaran')

										.col-lg-12
											.col-lg-4
												p.margin-top-md Nama Pemegang Rekening Pengirim
											.col-lg-8
												input.form-control.margin-top-xs(type='text', name='account_name')
										.col-lg-12
											.col-lg-4
												p.margin-top-md Nomor Rekening Pengirim
											.col-lg-8
												input.form-control.margin-top-xs(type='text', name='account_number')
										.col-lg-12
											.col-lg-4
												p.margin-top-md Bukti Pembayaran
											.col-lg-8
												input.form-control.margin-top-xs(type='file', name='file')

										.col-lg-6.col-lg-offset-3.margin-top-lg
											button.form-control.btn.btn-green.bold-700.uppercase.submit(type='button')
												i.fa.fa-paper-plane.margin-right-xs
												span Kirim Bukti Pembayaran
										div(style='width:100%;height:1px;clear:both;')
								.ibox.float-e-margins
									.col-lg-12.title-center
										h5 KONFIRMASI PEMBAYARAN YANG TELAH DIKIRIMKAN
									.ibox-content
										.col-lg-12
											.table-responsive
												table.table.table-striped.table-bordered.table-hover.dataTables-example
													thead
														tr
															th #
															th Tanggal
															th Metode
															th Jumlah
															th Nomor Rekening
															th Nama Pengirim
															th Lampiran
															th Aksi
													tbody
														each payment,i in branch_payments
															tr
																td #{i + 1}.
																td
																	= moment(payment.paid).format("YYYY-MM-DD HH:mm")
																td
																	= payment.method
																td
																	= payment.amount
																td
																	= payment.account_number
																td
																	= payment.account_name
																td.align-center
																	a.btn.btn-success.btn-xs.no-margin(href='/stored_files/'+payment.file target='_blank') Lihat
																td.align-center
																	a.btn.btn-info.btn-xs.no-margin(href='/branch/payment/'+payment._id) Lihat

										div(style='width:100%;height:1px;clear:both;')


block script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script.
		var user = !{JSON.stringify(__defaultViewData.user)};

		$(".submit").click(function () {
			var form = $('form');
			var formData = new FormData($('#form')[0]);

			$.ajax({
				url: form.attr("action"),
				type: form.attr("method"),
				data: formData,
				success: function (result) {
					document.location = '/branch/payment/' + result.result._id;
				},
				cache: false,
				contentType: false,
				processData: false
			});

		});

		$('#data_1 .input-group.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true
		});
