extends ../layouts/default-user

block content
	.row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
		.col-lg-12
			.col-md-10.margin-top-lg
				.p Formulir D.07
				h1.bold-700.no-margin #{user.branch.name}

			.div.col-md-2.margin-top-xs
				img.float-right(src='/public/assets/images/branch_logo/' + user.branch.logo, style="width: 60%")

	.wrapper.wrapper-content
		form(action='/api/branch_transport' method='PUT', id='form', encytype="multipart/form-data")
			.col-lg-10
				.row
					.col-lg-12
						.ibox.float-e-margins
							.ibox-title
								.col-lg-12
									h3.align-center RENCANA KEDATANGAN DAN KEPULANGAN KONTINGEN
									h3.align-center JAMBORE NASIONAL X 2016
								div(style='width:100%;height:1px;clear:both;')
							.ibox-content
								.col-lg-12
									.col-lg-3.no-margin.no-padding
										label.control-label.align-left.margin-bottom-xxs Kwartir Daerah
									select.form-control.m-b.no-margin(name='branch', disabled='')
										option
											= user.branch.name
								.col-lg-12
									.hr-line-dashed
								.col-lg-12
									.col-lg-3.no-margin.no-padding
										label.control-label.align-left.margin-bottom-xxs Alamat
									.col-lg-9
										textarea.form-control(name='address', rows='3')
										.col-lg-5.no-padding-left.margin-top-xs
											label.control-label.align-left.margin-bottom-xxs Provinsi
											select.form-control.m-b.no-margin.provinces(name='province')
												option -
												each province in provinces
													option(value=province._id)
														= province.name
										.col-lg-5.no-padding-right.margin-top-xs
											label.control-label.align-left.margin-bottom-xxs Kota / Kabupaten
											select.form-control.m-b.no-margin.regency_cities(name='regency_city')
												option -
										.col-lg-2.no-padding-right.margin-top-xs
											label.control-label.align-left.margin-bottom-xxs Kodepos
											input.form-control.m-b.no-margin(type='text', name='zipcode')
								.col-lg-12
									.hr-line-dashed
								.col-lg-12
									.col-lg-3.no-margin.no-padding
										label.control-label.align-left.margin-bottom-xxs Kontak
									.col-lg-9
										.col-lg-6.no-padding-left
											label.control-label.align-left.margin-bottom-xxs No Telp. Kwarda
											.input-group.m-b
												span.input-group-addon
													i.glyphicon.glyphicon-phone-alt
												input.form-control.m-b.no-margin(type='text', name='phone')
										.col-lg-6.no-padding-right
											label.control-label.align-left.margin-bottom-xxs No. Handphone Pinkonda
											.input-group.m-b
												span.input-group-addon
													i.glyphicon.glyphicon-phone
												input.form-control.m-b.no-margin(type='text', name='mobile_phone')
								div(style='width:100%;height:1px;clear:both;')
				.row
					.col-lg-12
						.ibox.float-e-margins
							.ibox-title
								h5 DETAIL KONTINGEN
								.ibox-tools
									a.collapse-link
										i.fa.fa-chevron-up
							.ibox-content
								.col-lg-12
									.col-lg-12.margin-top-xs
										.col-lg-1.align-center
											label.control-label.align-left.margin-bottom-xxs No
										.col-lg-7
											label.control-label.align-left.margin-bottom-xxs Klasifikasi
										.col-lg-2.align-center
											label.control-label.align-left.margin-bottom-xxs Putera
										.col-lg-2.align-center
											label.control-label.align-left.margin-bottom-xxs Puteri
									.col-lg-12.margin-bottom-xxs
										.col-lg-1.align-center
											p.control-label.align-center.margin-top-xxs 1.
										.col-lg-7
											p.control-label.align-left.margin-top-xxs Pimpinan Kontingen Daerah
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[branch_leader][male]', placeholder='Jumlah')
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[branch_leader][female]', placeholder='Jumlah')
									.col-lg-12.margin-bottom-xxs
										.col-lg-1.align-center
											p.control-label.align-center.margin-top-xxs 2.
										.col-lg-7
											p.control-label.align-left.margin-top-xxs Staf Kontingen Daerah
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[branch_staff][male]', placeholder='Jumlah')
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[branch_staff][female]', placeholder='Jumlah')
									.col-lg-12.margin-bottom-xxs
										.col-lg-1.align-center
											p.control-label.align-center.margin-top-xxs 3.
										.col-lg-7
											p.control-label.align-left.margin-top-xxs Pimpinan Kontingen Cabang
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[subbranch_leader][male]', placeholder='Jumlah')
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[subbranch_leader][female]', placeholder='Jumlah')
									.col-lg-12.margin-bottom-xxs
										.col-lg-1.align-center
											p.control-label.align-center.margin-top-xxs 4.
										.col-lg-7
											p.control-label.align-left.margin-top-xxs Pembina Pendamping
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[leader][male]', placeholder='Jumlah')
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[leader][female]', placeholder='Jumlah')
									.col-lg-12.margin-bottom-xxs
										.col-lg-1.align-center
											p.control-label.align-center.margin-top-xxs 5.
										.col-lg-7
											p.control-label.align-left.margin-top-xxs Pramuka Penggalang
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[scout_penggalang][male]', placeholder='Jumlah')
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[scout_penggalang][female]', placeholder='Jumlah')
									.col-lg-12.margin-bottom-xxs
										.col-lg-1.align-center
											p.control-label.align-center.margin-top-xxs 6.
										.col-lg-7
											p.control-label.align-left.margin-top-xxs PBK
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[scout_pbk][male]', placeholder='Jumlah')
										.col-lg-2
											input.form-control.align-center(type='text', name='contingent[scout_pbk][female]', placeholder='Jumlah')
								div(style='width:100%;height:1px;clear:both;')
				.row
					.col-lg-12
						.ibox.float-e-margins
							.ibox-title
								h5 KEBERANGKATAN, KEDATANGAN, dan KEPULANGAN
								.ibox-tools
									a.collapse-link
										i.fa.fa-chevron-up
							.ibox-content
								.col-lg-12
									.col-lg-3.no-margin.no-padding
										label.control-label.align-left.margin-bottom-xxs Keberangkatan
									.col-lg-9
										.col-lg-12.no-padding
											.col-lg-4
												#data_1.form-group
													label.control-label.align-left.margin-bottom-xxs Tanggal
													.input-group.date
														span.input-group-addon
															i.fa.fa-calendar
														input.form-control(type='text', name='departure[date]', readonly, placeholder='Pilih Tanggal')
											.col-lg-3
												.form-group
													label.control-label.align-left.margin-bottom-xxs Waktu Setempat
													.input-group.clockpicker(data-autoclose='true')
														input.form-control(type='text', name='departure[time]', readonly, placeholder='Jam')
														span.input-group-addon
															span.fa.fa-clock-o
											.col-lg-5
												.form-group
													label.control-label.align-left.margin-bottom-xxs Angkutan
													select.form-control(name='departure[transportation_type]')
														option(value='airplane') Pesawat
														option(value='train') Kereta
														option(value='ship') Kapal Laut
														option(value='bus') Bus
										.col-lg-12.no-padding
											.col-lg-3
												label.control-label.align-left.margin-bottom-xxs Tempat Keberangkatan
											.col-lg-9
												input.form-control(type='text', name='departure[location]')
								.col-lg-12.padding-top-bottom-xs
									.hr-line-dashed
								.col-lg-12
									.col-lg-3.no-margin.no-padding
										label.control-label.align-left.margin-bottom-xxs Kedatangan
									.col-lg-9
										.col-lg-12.no-padding
											.col-lg-4
												#data_1.form-group
													label.control-label.align-left.margin-bottom-xxs Tanggal
													.input-group.date
														span.input-group-addon
															i.fa.fa-calendar
														input.form-control(type='text', name='arrival[date]', readonly, placeholder='Pilih Tanggal')
											.col-lg-3
												.form-group
													label.control-label.align-left.margin-bottom-xxs Waktu Setempat
													.input-group.clockpicker(data-autoclose='true')
														input.form-control(type='text', name='arrival[time]', readonly, placeholder='Jam')
														span.input-group-addon
															span.fa.fa-clock-o
											.col-lg-5
												.form-group
													label.control-label.align-left.margin-bottom-xxs Angkutan
													select.form-control(name='arrival[transportation_type]')
														option(value='airplane') Pesawat
														option(value='train') Kereta
														option(value='ship') Kapal Laut
														option(value='bus') Bus
										.col-lg-12.no-padding
											.col-lg-3
												label.control-label.align-left.margin-top-xxs Tempat Kedatangan
											.col-lg-9
												input.form-control(type='text', name='arrival[location]')
								.col-lg-12.padding-top-bottom-xs
									.hr-line-dashed
								.col-lg-12
									.col-lg-3.no-margin.no-padding
										label.control-label.align-left.margin-bottom-xxs Kepulangan
									.col-lg-9
										.col-lg-12.no-padding
											.col-lg-4
												#data_1.form-group
													label.control-label.align-left.margin-bottom-xxs Tanggal
													.input-group.date
														span.input-group-addon
															i.fa.fa-calendar
														input.form-control(type='text', name='return[date]', readonly, placeholder='Pilih Tanggal')
											.col-lg-3
												.form-group
													label.control-label.align-left.margin-bottom-xxs Waktu Setempat
													.input-group.clockpicker(data-autoclose='true')
														input.form-control(type='text', name='return[time]', readonly,  placeholder='Jam')
														span.input-group-addon
															span.fa.fa-clock-o
											.col-lg-5
												.form-group
													label.control-label.align-left.margin-bottom-xxs Angkutan
													select.form-control(name='return[transportation_type]')
														option(value='airplane') Pesawat
														option(value='train') Kereta
														option(value='ship') Kapal Laut
														option(value='bus') Bus
											.col-lg-12.no-padding.margin-bottom-xs
												.col-lg-3
													label.control-label.align-left.margin-top-xxs Dari Perkemahan
												.col-lg-9
													input.form-control(type='text', name='return[location]')
								div(style='width:100%;height:1px;clear:both;')

				.row
					.col-lg-12
						.ibox.float-e-margins
							.ibox-content
								.col-lg-12.margin-top-lg
									.col-lg-12
										p.bold-700 Lampirkan bukti otentik formulir Rencana Keberangkatan dan Kepulangan Kontingen - D.07
										input(type='file', name='file')
										//input(type='hidden', name='file[type]', value='travel-plan-letter')
								.col-lg-12.margin-top-xlg.align-center
									.col-lg-6.col-lg-offset-3
										button.form-control.btn.btn-green.bold-700.submit(type='button')
											i.fa.fa-paper-plane.margin-right-xs
											span Kirim Rencana Perjalanan
								div(style='width:100%;height:1px;clear:both;')

				.row.margin-bottom-xlg
					.col-lg-12
						.ibox.float-e-margins
							.ibox-title
								h5 DATA KEBERANGKATAN, KEDATANGAN DAN KEPULANGAN YANG TERDAFTAR
							.ibox-content
								.row
									.col-lg-12
										.table-responsive
											table.table.table-striped.table-bordered.table-hover.dataTables-example
												thead
													tr
														th #
														th Kwartir Daerah
														th Jumlah Kontingen
														th Keberangkatan
														th Kedatangan
														th Kepulangan
														th Lampiran
														th Aksi
												tbody
													each transport,i in branch_transports
														tr
															td #{i + 1}.
															td
																= transport.branch.name
															td
																= transport.contingent_total.male+transport.contingent_total.female
															td
																p
																	= "Tanggal	 : " + moment(transport.departure.date).format("YYYY-MM-DD")
																	br
																	= "Jam			 :" + transport.departure.time
																	br
																	= "Kendaraan :" + transport.departure.transportation_type
																	br
																	= "Lokasi 	 :" + transport.departure.location
															td
																p
																	= "Tanggal	 : " + moment(transport.arrival.date).format("YYYY-MM-DD")
																	br
																	= "Jam			 :" + transport.arrival.time
																	br
																	= "Kendaraan :" + transport.arrival.transportation_type
																	br
																	= "Lokasi 	 :" + transport.arrival.location
															td
																p
																	= "Tanggal	 : " + moment(transport.return.date).format("YYYY-MM-DD")
																	br
																	= "Jam			 :" + transport.return.time
																	br
																	= "Kendaraan :" + transport.return.transportation_type
																	br
																	= "Lokasi 	 :" + transport.return.location
															td.align-center
																a.btn.btn-success.btn-xs.no-margin(href='/stored_files/'+ transport.file target='_blank') Lihat
															td.align-center
																a.btn.btn-info.btn-xs.no-margin(href='/branch/transport/'+ transport._id) Lihat

block script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script.
		var user = !{JSON.stringify(__defaultViewData.user)};

		$(".provinces").change(function () {
			$.ajax({
				url: '/api/locations/' + $("select.provinces option:selected").val() + '/locations',
				type: 'GET',
				success: function (data) {
					$('.regency_cities').empty();
					$('.regency_cities').append('<option> - </option>');
					data.results.forEach(function (regency_city) {
						$('.regency_cities').append('<option value=\'' + regency_city._id + '\'>' + regency_city.name + '</option>');
					});
				}
			});
		});

		$(".submit").click(function () {
			var form = $('form');
			var formData = new FormData($('#form')[0]);
			$.ajax({
				url: form.attr("action"),
				type: form.attr("method"),
				data: formData,
				success: function (result) {
					//console.log(result.result._id);
					//document.location = '/branch/transport/'+result.result._id;
					document.location = '/branch/transport/add';
				},
				cache: false,
				contentType: false,
				processData: false
			});
		});

		$('#data_1 .input-group.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true
		});

		$('.clockpicker').clockpicker();
