extends ../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      .col-md-10.margin-top-lg
        .p Formulir D.02 - Registrasi Kwartir Daerah
        h1.bold-700.no-margin #{user.branch.name}

      .div.col-md-2.margin-top-xs
        img.float-right(src='/public/assets/images/branch_logo/'+user.branch.logo, style="width: 60%")

  .wrapper.wrapper-content
    form(action='/api/branch_registration' method='PUT', id='form', redirect='/branch/registration')
      .col-lg-10
        .row
          .col-lg-12
            .ibox.float-e-margins
              .ibox-title
                .col-lg-12
                  h3.align-center BIODATA PANITIA JAMBORE NASIONAL X 2016
              .ibox-content
                form.form-horizontal(method='get')
                  .col-lg-12
                    .col-lg-3
                      center.bg-dark-gray.padding-top-bottom-xs
                        img(src='http://placehold.it/150x200')
                      input.margin-top-xs(type='file')
                    .col-lg-9
                      .col-lg-12.no-margin.no-padding
                        .col-lg-5
                          .form-group
                            label.control-label.align-left.margin-bottom-xxs Kwartir Daerah
                            select.form-control.m-b.no-margin(name='scout.branch', disabled='')
                              option DKI Jakarta
                        .col-lg-6.col-lg-offset-1
                          .form-group
                            label.control-label.align-left.margin-bottom-xxs Kwartir Cabang
                            select.form-control.m-b.no-margin(name='scout.subbranch', disabled='')
                              option(value='')
                      .col-lg-12.no-margin.no-padding
                        .hr-line-dashed.no-margin
                      .col-lg-12.no-margin.no-padding
                        .col-lg-6
                          .form-group.padding-right-md
                            label.control-label.align-left.margin-bottom-xxs Keikutsertaan dalam JAMNAS
                            select.form-control.m-b.no-margin(name='scout.type', disabled='')
                              option Panitia Penyelenggara Jamnas X 2016
                      .col-lg-12.no-margin.no-padding
                        .col-lg-6
                          .form-group.padding-right-md
                            label.control-label.align-left.margin-bottom-xxs Jabatan Dalam Kepanitiaan
                            select.form-control.m-b.no-margin(name='user.subtype')
                              option(value='')
                              option(value='')
                              option(value='')
                      div
                  .col-lg-12.margin-top-md
                    .hr-line-dashed.no-margin
                  .col-lg-12
                    .col-lg-12.margin-top-xs.no-padding
                      .col-lg-5
                        .form-group.padding-right-md
                          label.control-label.align-left.margin-bottom-xxs Nama Lengkap
                          input.form-control(type='text', name='user.name')
                      .col-lg-4
                        .form-group.padding-right-md
                          label.control-label.align-left.margin-bottom-xxs NTA
                          input.form-control(type='text', name='scout.nta')
                      .col-lg-3
                        .form-group
                          label.control-label.align-left.margin-bottom-xxs Jenis Kelamin
                          select.form-control.m-b.no-margin(name='scout.gender')
                            option(value='male')
                            option(value='female')
                    .col-lg-12.no-padding
                      .col-lg-4
                        .form-group.padding-right-md
                          label.control-label.align-left.margin-bottom-xxs Tempat Lahir
                          input.form-control(type='text', name='scout.birthplace')
                      .col-lg-3
                        #data_3.form-group.padding-right-md
                          label.control-label.align-left.margin-bottom-xxs Tanggal Lahir
                          .input-group.date
                            span.input-group-addon
                              i.fa.fa-calendar
                            input.form-control(type='text', value='10/11/2013', name='scout.birthday')
                      .col-lg-3
                        .form-group.padding-right-md
                          label.control-label.align-left.margin-bottom-xxs Golongan Darah
                          select.form-control.m-b.no-margin(name='scout.blood_type')
                            option(value='A')
                            option(value='B')
                            option(value='AB')
                            option(value='O')
                      .col-lg-2
                        .form-group
                          label.control-label.align-left.margin-bottom-xxs Agama
                          select.form-control.m-b(name='scout.religion')
                            option(value='islam')
                            option(value='kristen_protestan')
                            option(value='kristen_katolik')
                            option(value='hindu')
                            option(value='budha')
                            option(value='konghucu')
                            option(value='others')
                div(style='width:100%;height:1px;clear:both;')
        .row
          .col-lg-12
            .ibox.float-e-margins
              .ibox-title
                h5 Alamat & Kontak
                .ibox-tools
                  a.collapse-link
                    i.fa.fa-chevron-up
              .ibox-content
                .col-lg-12
                  .col-lg-3.no-margin.no-padding
                    label.control-label.align-left.margin-bottom-xxs Alamat Rumah
                  .col-lg-9
                    textarea.form-control(name='contact.address', rows='3')
                    .col-lg-5.no-padding-left.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Provinsi
                      select.form-control.m-b.no-margin(name='contact.province')
                        option Nusa Tenggara Barat
                    .col-lg-5.no-padding-right.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Kota / Kabupaten
                      select.form-control.m-b.no-margin(name='contact.regency_city')
                        option Kota Administrasi Jakarta Selatan
                    .col-lg-2.no-padding-right.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Kodepos
                      input.form-control.m-b.no-margin(type='text', name='contact.zipcode')
                .col-lg-12
                  .hr-line-dashed
                .col-lg-12
                  .col-lg-3.no-margin.no-padding
                    label.control-label.align-left.margin-bottom-xxs Kontak
                  .col-lg-9
                    .col-lg-6.no-padding-left
                      label.control-label.align-left.margin-bottom-xxs No Telp. Rumah
                      .input-group.m-b
                        span.input-group-addon
                          i.glyphicon.glyphicon-phone-alt
                        input.form-control.m-b.no-margin(type='text', name='contact.phone.home')
                    .col-lg-6.no-padding-right
                      label.control-label.align-left.margin-bottom-xxs No. Handphone
                      .input-group.m-b
                        span.input-group-addon
                          i.glyphicon.glyphicon-phone
                        input.form-control.m-b.no-margin(type='text', name='contact.phone.mobile')
                div(style='width:100%;height:1px;clear:both;')
        .row
          .col-lg-12
            .ibox.float-e-margins
              .ibox-title
                h5 Data Orang Tua
                .ibox-tools
                  a.collapse-link
                    i.fa.fa-chevron-up
              .ibox-content
                .col-lg-12.margin-bottom-xs
                  .col-lg-3.no-margin.no-padding
                    label.control-label.align-left.margin-bottom-xxs Nama Orang Tua
                  .col-lg-6
                    input.form-control(type='text', name='contact.name')
                .col-lg-12.margin-bottom-xs
                  .col-lg-3.no-margin.no-padding
                    label.control-label.align-left.margin-bottom-xxs Pekerjaan
                  .col-lg-6
                    input.form-control(type='text', name='contact.occupation')
                .col-lg-12
                  .col-lg-3.no-margin.no-padding
                    label.control-label.align-left.margin-bottom-xxs Alamat Rumah
                  .col-lg-9
                    textarea.form-control(name='contact.address', rows='3')
                    .col-lg-5.no-padding-left.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Provinsi
                      select.form-control.m-b.no-margin(name='contact.province')
                        option Nusa Tenggara Barat
                    .col-lg-5.no-padding-right.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Kota / Kabupaten
                      select.form-control.m-b.no-margin(name='contact.regency_city')
                        option Kota Administrasi Jakarta Selatan
                    .col-lg-2.no-padding-right.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Kodepos
                      input.form-control.m-b.no-margin(type='text', name='contact.zipcode')
                .col-lg-12
                  .hr-line-dashed
                .col-lg-12
                  .col-lg-3.no-margin.no-padding
                    label.control-label.align-left.margin-bottom-xxs Kontak
                  .col-lg-9
                    .col-lg-6.no-padding-left
                      label.control-label.align-left.margin-bottom-xxs No Telp. Rumah
                      .input-group.m-b
                        span.input-group-addon
                          i.glyphicon.glyphicon-phone-alt
                        input.form-control.m-b.no-margin(type='text', name='contact.phone.home')
                    .col-lg-6.no-padding-right
                      label.control-label.align-left.margin-bottom-xxs No. Handphone
                      .input-group.m-b
                        span.input-group-addon
                          i.glyphicon.glyphicon-phone
                        input.form-control.m-b.no-margin(type='text', name='contact.phone.mobile')
                div(style='width:100%;height:1px;clear:both;')
        .row
          .col-lg-12
            .ibox.float-e-margins
              .ibox-title
                h5 Data Pendidikan Formal
                .ibox-tools
                  a.collapse-link
                    i.fa.fa-chevron-up
              .ibox-content
                .col-lg-12.margin-bottom-xs
                  .col-lg-1.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs Jenjang
                  .col-lg-3.align-center
                    label.control-label.align-left.margin-bottom-xxs Nama Sekolah
                  .col-lg-3.align-center
                    label.control-label.align-left.margin-bottom-xxs Kota
                  .col-lg-2.align-center
                    label.control-label.align-left.margin-bottom-xxs Tahun Lulus
                  .col-lg-3.align-center
                    label.control-label.align-left.margin-bottom-xxs Keterangan
                .col-lg-12.margin-top-xxs
                  .col-lg-1.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs SD
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.school_name')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.province')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='scout.education.graduate_year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.notes')
                .col-lg-12.margin-top-xxs
                  .col-lg-1.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs SMP
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.school_name')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.province')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='scout.education.graduate_year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.notes')
                .col-lg-12.margin-top-xxs
                  .col-lg-1.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs SMA
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.school_name')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.province')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='scout.education.graduate_year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.notes')
                .col-lg-12.margin-top-xxs
                  .col-lg-1.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs S1
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.school_name')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.province')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='scout.education.graduate_year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.notes')
                .col-lg-12.margin-top-xxs
                  .col-lg-1.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs S2
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.school_name')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.province')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='scout.education.graduate_year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='scout.education.notes')
                div(style='width:100%;height:1px;clear:both;')
        .row
          .col-lg-12
            .ibox.float-e-margins
              .ibox-title
                h5 Data Kepramukaan
                .ibox-tools
                  a.collapse-link
                    i.fa.fa-chevron-up
              .ibox-content
                .col-lg-12.margin-bottom-xs
                  .col-lg-3.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs Nama Golongan
                  .col-lg-2.align-center
                    label.control-label.align-left.margin-bottom-xxs Tahun
                  .col-lg-3.align-center
                    label.control-label.align-left.margin-bottom-xxs Nomor Gudep
                  .col-lg-4.align-center
                    label.control-label.align-left.margin-bottom-xxs Pangkalan
                .col-lg-12.margin-top-xxs
                  .col-lg-3.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs Siaga
                  .col-lg-2
                    input.form-control.align-center(type='text', name='experiences.year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='experiences.gudep_number')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='experiences.base')
                .col-lg-12.margin-top-xxs
                  .col-lg-3.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs Penggalang
                  .col-lg-2
                    input.form-control.align-center(type='text', name='experiences.year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='experiences.gudep_number')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='experiences.base')
                .col-lg-12.margin-top-xxs
                  .col-lg-3.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs Penegak
                  .col-lg-2
                    input.form-control.align-center(type='text', name='experiences.year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='experiences.gudep_number')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='experiences.base')
                .col-lg-12.margin-top-xxs
                  .col-lg-3.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs Pandega
                  .col-lg-2
                    input.form-control.align-center(type='text', name='experiences.year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='experiences.gudep_number')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='experiences.base')
                .col-lg-12.margin-top-xxs
                  .col-lg-3.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs.margin-top-xs Pembina
                  .col-lg-2
                    input.form-control.align-center(type='text', name='experiences.year')
                  .col-lg-3
                    input.form-control.align-center(type='text', name='experiences.gudep_number')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='experiences.base')
                div(style='width:100%;height:1px;clear:both;')
        .row
          .col-lg-12
            .ibox.float-e-margins
              .ibox-title
                h5 Data Kursus atau Pelatihan Kepramukaan
                .ibox-tools
                  a.collapse-link
                    i.fa.fa-chevron-up
              .ibox-content
                .col-lg-12.margin-bottom-xs
                  .col-lg-2.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs Nama
                  .col-lg-2.align-center
                    label.control-label.align-left.margin-bottom-xxs Tahun
                  .col-lg-4.align-center
                    label.control-label.align-left.margin-bottom-xxs Tempat
                  .col-lg-4.align-center
                    label.control-label.align-left.margin-bottom-xxs Keterangan
                .col-lg-12.margin-bottom-xxs
                  .col-lg-2.no-margin.no-padding.align-center
                    p.control-label.align-center.margin-bottom-xxs.margin-top-xs
                      strong KMD
                  .col-lg-2
                    input.form-control.align-center(type='text', name='course_year')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_location')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_note')
                .col-lg-12.margin-bottom-xxs
                  .col-lg-2.no-margin.no-padding.align-center
                    p.control-label.align-center.margin-bottom-xxs.margin-top-xs
                      strong KML
                  .col-lg-2
                    input.form-control.align-center(type='text', name='course_year')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_location')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_note')
                .col-lg-12.margin-bottom-xxs
                  .col-lg-2.no-margin.no-padding.align-center
                    p.control-label.align-center.margin-bottom-xxs.margin-top-xs
                      strong KPD
                  .col-lg-2
                    input.form-control.align-center(type='text', name='course_year')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_location')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_note')
                .col-lg-12.margin-bottom-xxs
                  .col-lg-2.no-margin.no-padding.align-center
                    p.control-label.align-center.margin-bottom-xxs.margin-top-xs
                      strong KPL
                  .col-lg-2
                    input.form-control.align-center(type='text', name='course_year')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_location')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_note')
                div(style='width:100%;height:1px;clear:both;')
        .row.margin-bottom-xlg
          .col-lg-12
            .ibox.float-e-margins
              .ibox-title
                h5 Data Kursus atau Pelatihan Di Luar Kepramukaan
                .ibox-tools
                  a.collapse-link
                    i.fa.fa-chevron-up
              .ibox-content
                .col-lg-12.margin-bottom-xs
                  .col-lg-2.no-margin.no-padding.align-center
                    label.control-label.align-left.margin-bottom-xxs Nama
                  .col-lg-2.align-center
                    label.control-label.align-left.margin-bottom-xxs Tahun
                  .col-lg-4.align-center
                    label.control-label.align-left.margin-bottom-xxs Tempat
                  .col-lg-4.align-center
                    label.control-label.align-left.margin-bottom-xxs Keterangan
                .col-lg-12.margin-bottom-xxs
                  .col-lg-2.no-margin.no-padding.align-center
                    input.form-control.align-center(type='text', name='course_name', value='')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='course_year')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_location')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_note')
                .col-lg-12.margin-bottom-xxs
                  .col-lg-2.no-margin.no-padding.align-center
                    input.form-control.align-center(type='text', name='course_name', value='')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='course_year')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_location')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_note')
                .col-lg-12.margin-bottom-xxs
                  .col-lg-2.no-margin.no-padding.align-center
                    input.form-control.align-center(type='text', name='course_name', value='')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='course_year')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_location')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_note')
                .col-lg-12.margin-bottom-xxs
                  .col-lg-2.no-margin.no-padding.align-center
                    input.form-control.align-center(type='text', name='course_name', value='')
                  .col-lg-2
                    input.form-control.align-center(type='text', name='course_year')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_location')
                  .col-lg-4
                    input.form-control.align-center(type='text', name='course_note')
                div(style='width:100%;height:1px;clear:both;')
        .row.margin-bottom-xlg
          .col-lg-12
            .ibox.float-e-margins
              .ibox-content
                .col-lg-12.margin-top-xlg.align-center
                  .col-lg-6.col-lg-offset-3
                    button.form-control.btn.btn-green.bold-700.submit(type='button')
                      i.fa.fa-paper-plane.margin-right-xs
                      span Submit Data
                div(style='width:100%;height:1px;clear:both;')





block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script.
    var user = !{JSON.stringify(__defaultViewData.user)};

    $(".provinces").change(function () {
      $.ajax({
        url: '/api/locations/' + $( "select.provinces option:selected").val() + '/locations',
        type: 'GET',
        success: function (data) {
          $('.regency_cities').empty();
          $('.regency_cities').append('<option> - </option>');
          data.results.forEach(function (regency_city) {
            $('.regency_cities').append('<option value=\''+ regency_city._id +'\'>'+regency_city.name+'</option>');
          });
        }
      });
    });

    $(".submit").click(function () {
      var form = $('form');
      $.ajax({
        url: form.attr("action"),
        type: form.attr("method"),
        data: form.serialize(),
        success: function (result) {
          document.location = form.attr("redirect");
        }
      });
    });
