extends ../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      .row
        .col-md-10.margin-top-lg
          .col-lg-10
            .p Formulir C.01 - Kesediaan Kwartir Cabang
            h1.bold-700.no-margin #{user.branch.name}
          .col-lg-2
            a.pull-right(href='/subbranch/'+subbranch_willingness_letter.subbranch._id+'/willingness_letter/' + subbranch_willingness_letter._id).btn.btn-green.bold-700.btn-sm.margin-top-xs
              i.fa.fa-pencil-square-o.margin-right-xs
              span Ubah Data


        .div.col-md-2.margin-top-xs
          img.float-right(src='/public/assets/images/branch_logo/'+user.branch.logo, style="width: 60%")

      .row
        .col-md-12
          a(href='/scout_branches/'+subbranch_willingness_letter.subbranch._id+'/scouts' target='_self') << Kembali ke daftar peserta Jambore Nasional

  .wrapper.wrapper-content
    .col-lg-10.margin-bottom-xlg
      .row
        .col-lg-12
          .ibox.float-e-margins
            .col-lg-12.title-center.align-center
              h5 KESEDIAAN KWARTIR CABANG MENGIKUTI
              h5 JAMBORE NASIONAL X 2016
            .ibox-content
              .row
                .col-lg-4
                  p.margin-top-xs Kwartir Cabang
                .col-lg-8
                  = subbranch_willingness_letter.subbranch.name
              .row
                .col-lg-4
                  p.margin-top-xs Kwartir Daerah
                .col-lg-8
                  = subbranch_willingness_letter.branch.name
              .row
                .col-lg-4
                  p.margin-top-xs Alamat
                .col-lg-8
                  = subbranch_willingness_letter.address
              .row
                .col-lg-4
                  p.margin-top-xs Kodepos
                .col-lg-2
                  = subbranch_willingness_letter.zipcode
              .row
                .col-lg-4
                  p.margin-top-xs Kontak
                .col-lg-8
                  .col-lg-6.no-padding-left
                    p.margin-top-xs No Telp Kwarcab
                    .input-group.m-b.margin-top-minus-xs
                      span.input-group-addon
                        i.glyphicon.glyphicon-phone-alt
                      input.form-control.m-b.no-margin(type='text', disabled, value=subbranch_willingness_letter.phone)

                  .col-lg-6.no-padding-right
                    p.margin-top-xs No HP Bindamping
                    .input-group.m-b.margin-top-minus-xs
                      span.input-group-addon
                        i.glyphicon.glyphicon-phone
                      input.form-control.m-b.no-margin(type='text', disabled, value=subbranch_willingness_letter.mobile_phone)
              .row
                .hr-line-dashed.no-margin
              .row
                h3.align-center.uppercase Dengan ini menyatakan siap dan bersedia
                h3.align-center.uppercase Mengikutsertakan Pramuka Penggalang
                h3.align-center.uppercase Pada Kegiatan Jambore Nasional 2016
                h3.align-center.uppercase Dan Siap Mematuhi Segala Ketentuan Yang Berlaku
              .row.margin-top-md.margin-bottom-md
                .hr-line-dashed.no-margin
              .row.align-center.margin-bottom-xs
                h4.uppercase.bold-700.underline Jumlah Peserta
              .row
                .col-lg-5.col-lg-offset-1
                  table.table
                    tbody
                      tr
                        td(width='50%')
                          | Penggalang Putra
                        td
                          = subbranch_willingness_letter.number_of.penggalang_pa
                          | &nbsp;Orang
                      tr
                        td(width='50%')
                          | Penggalang Putri
                        td
                          = subbranch_willingness_letter.number_of.penggalang_pi
                          | &nbsp;Orang
                      tr.margin-bottom-lg
                      tr
                        td.bold-700(width='50%')
                          | Jumlah
                        td.bold-700
                          = subbranch_willingness_letter.number_of.jumlah_peserta
                          | &nbsp;Orang
                .col-lg-5
                  table.table
                    tbody
                      tr
                        td(width='50%') Bindamping Putra
                        td
                          = subbranch_willingness_letter.number_of.bindamping_pa
                          | &nbsp;Orang
                      tr
                        td(width='50%') Bindamping Putri
                        td
                          = subbranch_willingness_letter.number_of.bindamping_pi
                          | &nbsp;Orang
                      tr
                        td(width='50%') Pinkoncab
                        td
                          = subbranch_willingness_letter.number_of.pinkoncab
                          | &nbsp;Orang
                      tr
                        td.bold-700(width='50%') Jumlah
                        td
                          = subbranch_willingness_letter.number_of.jumlah_pimpinan
                          | &nbsp;Orang

                .row.margin-bottom-xlg
                  .col-lg-12
                    .ibox.float-e-margins
                      .ibox-content
                        .col-lg-12.margin-top-xlg.align-center
                          .col-lg-8.col-lg-offset-2
                            a.form-control.btn.btn-green.bold-700(type='button' href='/stored_files/'+subbranch_willingness_letter.file target='_blank')
                              i.fa.fa-download.margin-right-xs
                              span Lampiran Form C.01 -
                                 = subbranch_willingness_letter.subbranch.name
                            p.fg-red Jika Anda tidak dapat melihat Lampiran Form C.01, maka Kwartir Cabang tersebut tidak melampirkan bukti otentik.
                        div(style='width:100%;height:1px;clear:both;')


block script
  script.
    var user = !{JSON.stringify(__defaultViewData.user)};
