extends ../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      .col-md-10.margin-top-lg
        .p Formulir C.01 - Kesediaan Kwartir Cabang
        h1.bold-700.no-margin #{user.branch.name}

      .div.col-md-2.margin-top-xs
        img.float-right(src='/public/assets/images/branch_logo/'+user.branch.logo, style="width: 60%")

  .wrapper.wrapper-content
    form(action='/api/subbranch_willingness_letter' method='PUT', id='form', redirect='/subbranch/'+subbranch._id+'/willingness_letter', encytype="multipart/form-data")
      .col-lg-10.margin-bottom-xlg
        .row
          .col-lg-12
            .ibox.float-e-margins
              .col-lg-12.title-center.align-center
                h5 KESEDIAAN KWARTIR CABANG MENGIKUTI
                h5 JAMBORE NASIONAL X 2016
              .ibox-content
                .col-lg-12
                  .col-lg-4
                    p.margin-top-xs Kwartir Cabang
                  .col-lg-8
                    select.form-control(name='subbranch')
                      option(value=subbranch._id)
                        = subbranch.name
                .col-lg-12
                  .col-lg-4
                    p.margin-top-xs Kwartir Daerah
                  .col-lg-8
                    select.form-control(name='branch')
                      option
                        = user.branch.name
                .col-lg-12
                  .col-lg-4
                    p.margin-top-xs Alamat
                  .col-lg-8
                    textarea.form-control.margin-bottom-xs(name='address', rows='3')
                .col-lg-12
                  .col-lg-4
                    p.margin-top-xs Kodepos
                  .col-lg-2
                    input.form-control.m-b.no-margin(type='text', name='zipcode')
                .col-lg-12
                  .col-lg-4
                    p.margin-top-xs Kontak
                  .col-lg-8
                    .col-lg-6.no-padding-left
                      p.margin-top-xs No Telp Kwarcab
                      .input-group.m-b.margin-top-minus-xs
                        span.input-group-addon
                          i.glyphicon.glyphicon-phone-alt
                        input.form-control.m-b.no-margin(type='text', name='phone')
                    .col-lg-6.no-padding-right
                      p.margin-top-xs No HP Bindamping
                      .input-group.m-b.margin-top-minus-xs
                        span.input-group-addon
                          i.glyphicon.glyphicon-phone
                        input.form-control.m-b.no-margin(type='text', name='mobile_phone')
                .col-lg-12.margin-bottom-md
                  .hr-line-dashed.no-margin
                .col-lg-12
                  h3.align-center.uppercase Dengan ini menyatakan siap dan bersedia
                  h3.align-center.uppercase Mengikutsertakan Pramuka Penggalang
                  h3.align-center.uppercase Pada Kegiatan Jambore Nasional 2016
                  h3.align-center.uppercase Dan Siap Mematuhi Segala Ketentuan Yang Berlaku
                .col-lg-12.margin-top-md.margin-bottom-md
                  .hr-line-dashed.no-margin
                .col-lg-12.align-center.margin-bottom-xs
                  h4.uppercase.bold-700.underline Jumlah Peserta
                .col-lg-12
                  .col-lg-6.no-margin
                    table
                      tbody
                        tr
                          td(width='50%') Penggalang Putra
                          td
                            .input-group.margin-bottom-xxs
                              input.form-control.right-border-less(type='text', name='number_of[penggalang_pa]', required='')
                              .input-group-addon.left-border-less Orang
                        tr
                          td(width='50%') Penggalang Putri
                          td
                            .input-group.margin-bottom-xxs
                              input.form-control.right-border-less(type='text', name='number_of[penggalang_pi]', required='')
                              .input-group-addon.left-border-less Orang
                        tr.margin-bottom-lg
                        tr
                          td.bold-700(width='50%') Jumlah
                          td
                            .input-group.margin-bottom-xxs
                              input.form-control.right-border-less(type='text', name='number_of[jumlah_peserta]', required='')
                              .input-group-addon.left-border-less Orang
                  .col-lg-6.no-margin
                    table
                      tbody
                        tr
                          td(width='50%') Bindamping Putra
                          td
                            .input-group.margin-bottom-xxs
                              input.form-control.right-border-less(type='text', name='number_of[bindamping_pa]', required='')
                              .input-group-addon.left-border-less Orang
                        tr
                          td(width='50%') Bindamping Putri
                          td
                            .input-group.margin-bottom-xxs
                              input.form-control.right-border-less(type='text', name='number_of[bindamping_pi]', required='')
                              .input-group-addon.left-border-less Orang
                        tr
                          td(width='50%') Pinkoncab
                          td
                            .input-group.margin-bottom-xxs
                              input.form-control.right-border-less(type='text', name='number_of[pinkoncab]', required='')
                              .input-group-addon.left-border-less Orang
                        tr
                          td.bold-700(width='50%') Jumlah
                          td
                            .input-group.margin-bottom-xxs
                              input.form-control.right-border-less(type='text', name='number_of[jumlah_pimpinan]', required='')
                              .input-group-addon.left-border-less Orang
                .row.margin-bottom-xlg
                  .col-lg-12
                    .ibox.float-e-margins
                      .ibox-content
                        .col-lg-12.margin-top-lg
                          .col-lg-12
                            p.bold-700 Lampirkan bukti otentik formulir Kesediaan Kwartir Cabang C.01
                              span.fg-red.bold-700  (wajib)
                            input(type='file', name='file')
                        .col-lg-12.margin-top-xlg.align-center
                          .col-lg-6.col-lg-offset-3
                            p.fg-red Pastikan Anda sudah mengisi seluruh form dengan benar dan melampirkan bukti otentik
                            button.form-control.btn.btn-green.bold-700.submit(type='button')
                              i.fa.fa-paper-plane.margin-right-xs
                              span Kirim Surat Kesediaan
                        div(style='width:100%;height:1px;clear:both;')


block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script.
    var user = !{JSON.stringify(__defaultViewData.user)};

    $(".submit").click(function () {
      var form = $('form');
      var formData = new FormData($('#form')[0]);

      $.ajax({
        url: form.attr("action"),
        type: form.attr("method"),
        data: formData,
        success: function (result) {
          document.location = form.attr("redirect");
        },
        cache: false,
        contentType: false,
        processData: false
      });
    });
