extends ../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      .col-md-10.margin-top-lg
        .p Formulir C.02 - Pendaftaran Kwartir Cabang
        h1.bold-700.no-margin #{subbranch.name}

      .div.col-md-2.margin-top-xs
        img.float-right(src='/public/assets/images/branch_logo/'+user.branch.logo, style="width: 60%")

  .wrapper.wrapper-content
    form(action='/api/subbranch_registration' method='PUT', id='form', redirect='/subbranch/'+subbranch._id+'/registration', encytype="multipart/form-data")
      .wrapper.wrapper-content
        .col-lg-10
          .row
            .col-lg-12
              .ibox.float-e-margins
                .ibox-title
                  .col-lg-12
                    h3.align-center FORMULIR REGISTRASI KWARTIR CABANG
                .ibox-content
                  .col-lg-12
                    .row
                      .col-lg-2.margin-top-xxs
                        label.control-label.align-left.margin-bottom-xxs Kwartir Cabang
                      .col-lg-4.padding-right-md
                        select.form-control(name='subbranch')
                          option(value=subbranch._id)
                            = subbranch.name
                      .col-lg-2.margin-top-xxs
                        label.control-label.align-left.margin-bottom-xxs Kwartir Daerah
                      .col-lg-4
                        select.form-control(name='branch')
                          option
                            = user.branch.name
                  .col-lg-12
                    .hr-line-dashed
                  .col-lg-12
                    .col-lg-3.no-margin.no-padding
                      label.control-label.align-left.margin-bottom-xxs Alamat
                    .col-lg-9
                      textarea.form-control(name='address', rows='3')
                      .col-lg-5.no-padding-left.margin-top-xs
                        label.control-label.align-left.margin-bottom-xxs Provinsi
                        select.form-control.m-b.no-margin.provinces(name='province')
                          option -
                          each province in provinces
                            option(value=province._id)
                              = province.name
                      .col-lg-5.no-padding-right.margin-top-xs
                        label.control-label.align-left.margin-bottom-xxs Kota / Kabupaten
                        select.form-control.m-b.no-margin.regency_cities(name='regency_city')
                          option -
                      .col-lg-2.no-padding-right.margin-top-xs
                        label.control-label.align-left.margin-bottom-xxs Kodepos
                        input.form-control.m-b.no-margin(type='text', name='zipcode')
                  .col-lg-12
                    .hr-line-dashed
                  .col-lg-12
                    .col-lg-3.no-margin.no-padding
                      label.control-label.align-left.margin-bottom-xxs Kontak
                    .col-lg-9
                      .col-lg-6.no-padding-left
                        label.control-label.align-left.margin-bottom-xxs No Telp. Kwarcab
                        .input-group.m-b
                          span.input-group-addon
                            i.glyphicon.glyphicon-phone-alt
                          input.form-control.m-b.no-margin(type='text', name='phone')
                      .col-lg-6.no-padding-right
                        label.control-label.align-left.margin-bottom-xxs No. Handphone Bindamping
                        .input-group.m-b
                          span.input-group-addon
                            i.glyphicon.glyphicon-phone
                          input.form-control.m-b.no-margin(type='text', name='mobile_phone')
                  div(style='width:100%;height:1px;clear:both;')

          each _,i in Array(4)
            .row
              .col-lg-12
                .ibox.float-e-margins
                  .ibox-title
                    h5 Daftar Regu - #{i+1}
                    .ibox-tools
                      a.collapse-link
                        i.fa.fa-chevron-up
                  .ibox-content
                    .col-lg-12
                      .col-lg-12.margin-bottom-xs
                        .col-lg-3.no-margin.no-padding.align-center
                          label.control-label.align-left.margin-bottom-xxs Regu
                        .col-lg-5.align-center
                          label.control-label.align-left.margin-bottom-xxs Nama
                        .col-lg-4.align-center
                          label.control-label.align-left.margin-bottom-xxs Pencapaian TKU
                      .col-lg-12.margin-bottom-xxs
                        .col-lg-3.align-center.no-padding
                          p.control-label.align-center.margin-top-xxs Pimpinan Regu
                        .col-lg-5.no-padding
                          input.form-control.align-center(type='text', name='participants['+i+'][leader_group][name]', placeholder='')
                        .col-lg-4
                          .row
                            .col-lg-6.margin-top-xxs
                              label.control-label.align-center.margin-bottom-xxs.pull-right Tingkat SKU
                            .col-lg-6
                              select.form-control.m-b.no-margin(name='participants['+i+'][leader_group][sku_level]')
                                option(value='ramu') Ramu
                                option(value='rakit') Rakit
                                option(value='terap') Terap
                                option(value='garuda') Garuda
                      .col-lg-12.margin-bottom-xxs
                        .col-lg-3.align-center.no-padding
                          p.control-label.align-center.margin-top-xxs Wakil Pimpinan Regu
                        .col-lg-5.no-padding
                          input.form-control.align-center(type='text', name='participants['+i+'][vice_leader_group][name]', placeholder='')
                        .col-lg-4
                          .row
                            .col-lg-6.margin-top-xxs
                              label.control-label.align-center.margin-bottom-xxs.pull-right Tingkat SKU
                            .col-lg-6
                              select.form-control.m-b.no-margin(name='participants['+i+'][vice_leader_group][sku_level]')
                                option(value='ramu') Ramu
                                option(value='rakit') Rakit
                                option(value='terap') Terap
                                option(value='garuda') Garuda
                      each _,j in Array(6)
                        .col-lg-12.margin-bottom-xxs
                          .col-lg-3.align-center.no-padding
                            p.control-label.align-center.margin-top-xxs Anggota
                          .col-lg-5.no-padding
                            input.form-control.align-center(type='text', name='participants['+i+'][members]['+j+'][name]', placeholder='')
                          .col-lg-4
                            .row
                              .col-lg-6.margin-top-xxs
                                label.control-label.align-center.margin-bottom-xxs.pull-right Tingkat SKU
                              .col-lg-6
                                select.form-control.m-b.no-margin(name='participants['+i+'][members]['+j+'][sku_level]')
                                  option(value='ramu') Ramu
                                  option(value='rakit') Rakit
                                  option(value='terap') Terap
                                  option(value='garuda') Garuda

                    div(style='width:100%;height:1px;clear:both;')
          .row.margin-bottom-xlg
            .col-lg-12
              .ibox.float-e-margins
                .ibox-content
                  .col-lg-12.margin-top-lg
                    .col-lg-12
                      p.bold-700 Lampirkan bukti otentik formulir Pendaftaran Kwartir Cabang C.02
                        span.fg-red.bold-700  (wajib)
                      input(type='file', name='file')
                  .col-lg-12.margin-top-xlg.align-center
                    .col-lg-6.col-lg-offset-3
                      p.fg-red Pastikan Anda sudah mengisi seluruh form dengan benar dan melampirkan bukti otentik
                      button.form-control.btn.btn-green.bold-700.submit(type='button')
                        i.fa.fa-paper-plane.margin-right-xs
                        span Kirim Surat Pendaftaran
                  div(style='width:100%;height:1px;clear:both;')







block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script.
    var user = !{JSON.stringify(__defaultViewData.user)};

    $(".provinces").change(function () {
      $.ajax({
        url: '/api/locations/' + $( "select.provinces option:selected").val() + '/locations',
        type: 'GET',
        success: function (data) {
          $('.regency_cities').empty();
          $('.regency_cities').append('<option> - </option>');
          data.results.forEach(function (regency_city) {
            $('.regency_cities').append('<option value=\''+ regency_city._id +'\'>'+regency_city.name+'</option>');
          });
        }
      });
    });

    $(".submit").click(function () {
      var form = $('form');
      var formData = new FormData($('#form')[0]);

      $.ajax({
        url: form.attr("action"),
        type: form.attr("method"),
        data: formData,
        success: function (result) {
          document.location = form.attr("redirect");
        },
        cache: false,
        contentType: false,
        processData: false
      });
    });
