extends ../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      .row
        .col-md-10.margin-top-lg
          .col-lg-10
            .p Formulir C.02 - Pendaftaran Kwartir Cabang
            h1.bold-700.no-margin #{user.branch.name}
          .col-lg-2
            a(href='/subbranch/'+subbranch_registration.subbranch._id+'/registration/'+subbranch_registration._id).btn.btn-green.bold-700.btn-sm.margin-top-xs
              i.fa.fa-pencil-square-o.margin-right-xs
              span Ubah Data

        .div.col-md-2.margin-top-xs
          img.float-right(src='/public/assets/images/branch_logo/'+user.branch.logo, style="width: 60%")
      .row
        .col-md-12
          a(href='/scout_branches/'+subbranch_registration.subbranch._id+'/scouts' target='_self') << Kembali ke daftar peserta Jambore Nasional

  .wrapper.wrapper-content

      .col-lg-10
        .row
          .col-lg-12
            .ibox.float-e-margins
              .ibox-title
                .col-lg-12
                  h3.align-center FORMULIR PENDAFTARAN KWARTIR CABANG
              .ibox-content
                .col-lg-12
                  .row
                    .col-lg-2.margin-top-xxs
                      label.control-label.align-left.margin-bottom-xxs Kwartir Cabang
                    .col-lg-4.padding-right-md.padding-top-xxs
                      = subbranch_registration.subbranch.name

                    .col-lg-2.margin-top-xxs
                      label.control-label.align-left.margin-bottom-xxs Kwartir Daerah
                    .col-lg-4.padding-top-xxs
                      = subbranch_registration.branch.name
                .col-lg-12
                  .hr-line-dashed
                .col-lg-12
                  .col-lg-3.no-margin.no-padding
                    label.control-label.align-left.margin-bottom-xxs Alamat
                  .col-lg-9.no-padding
                    .col-lg-12.no-padding-left.no-padding
                      = subbranch_registration.address
                    .col-lg-4.no-padding-left.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Provinsi
                      br
                      = subbranch_registration.province.name
                    .col-lg-6.no-padding-right.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Kota / Kabupaten
                      br
                      = subbranch_registration.regency_city.name
                    .col-lg-2.no-padding-right.margin-top-xs
                      label.control-label.align-left.margin-bottom-xxs Kodepos
                      = subbranch_registration.zipcode
                .col-lg-12
                  .hr-line-dashed
                .col-lg-12
                  .col-lg-3.no-margin.no-padding
                    label.control-label.align-left.margin-bottom-xxs Kontak
                  .col-lg-9.no-padding
                    .col-lg-6.no-padding-left.no-padding
                      label.control-label.align-left.margin-bottom-xxs No Telp. Kwarcab
                      .input-group.m-b
                        span.input-group-addon
                          i.glyphicon.glyphicon-phone-alt
                        input.form-control.m-b.no-margin(type='text', disabled, value=subbranch_registration.phone)
                    .col-lg-6.no-padding-right
                      label.control-label.align-left.margin-bottom-xxs No. Handphone Bindamping
                      .input-group.m-b
                        span.input-group-addon
                          i.glyphicon.glyphicon-phone
                        input.form-control.m-b.no-margin(type='text', disabled, value=subbranch_registration.mobile_phone)
                div(style='width:100%;height:1px;clear:both;')
        each participant,i in subbranch_registration.participants
          .row
            .col-lg-12
              .ibox.float-e-margins
                .ibox-title
                  h5 Daftar Regu - #{i + 1}
                  .ibox-tools
                    a.collapse-link
                      i.fa.fa-chevron-up
                .ibox-content
                  .col-lg-12
                    .col-lg-12.margin-bottom-xs
                      .col-lg-3.no-margin.no-padding.align-center
                        label.control-label.align-left.margin-bottom-xxs Regu
                      .col-lg-5.align-center
                        label.control-label.align-left.margin-bottom-xxs Nama
                      .col-lg-4.align-center
                        label.control-label.align-left.margin-bottom-xxs Pencapaian TKU
                    .col-lg-12.margin-bottom-xxs
                      .col-lg-3.align-center.no-padding
                        p.control-label.align-center.margin-top-xxs Pimpinan Regu
                      .col-lg-5.no-padding.align-center.margin-top-xxs
                        = participant.leader_group.name
                      .col-lg-4.align-center
                        .row
                          .col-lg-6.margin-top-xxs
                            label.control-label.align-center.margin-bottom-xxs.pull-right Tingkat SKU
                          .col-lg-6.margin-top-xxs
                            = participant.leader_group.sku_level
                    .col-lg-12.margin-bottom-xxs
                      .col-lg-3.align-center.no-padding
                        p.control-label.align-center.margin-top-xxs Wakil Pimpinan Regu
                      .col-lg-5.no-padding.align-center.margin-top-xxs
                        = participant.vice_leader_group.name
                      .col-lg-4.align-center
                        .row
                          .col-lg-6.margin-top-xxs
                            label.control-label.align-center.margin-bottom-xxs.pull-right Tingkat SKU
                          .col-lg-6.margin-top-xxs
                            = participant.vice_leader_group.sku_level
                    each member,j in participant.members
                      .col-lg-12.margin-bottom-xxs
                        .col-lg-3.align-center.no-padding
                          p.control-label.align-center.margin-top-xxs Anggota
                        .col-lg-5.no-padding.align-center.margin-top-xxs
                          = member.name
                        .col-lg-4.align-center
                          .row
                            .col-lg-6.margin-top-xxs
                              label.control-label.align-center.margin-bottom-xxs.pull-right Tingkat SKU
                            .col-lg-6.margin-top-xxs
                              = member.sku_level

                  div(style='width:100%;height:1px;clear:both;')
        .row.margin-bottom-xlg
          .col-lg-12
            .ibox.float-e-margins
              .ibox-content
                .col-lg-12.margin-top-xlg.align-center
                  .col-lg-8.col-lg-offset-2
                    a.form-control.btn.btn-green.bold-700(type='button' href='/stored_files/'+subbranch_registration.file target='_blank')
                      i.fa.fa-download.margin-right-xs
                      span Lampiran Form C.02 -
                        = subbranch_registration.subbranch.name
                    p.fg-red Jika Anda tidak dapat melihat Lampiran Form C.02, maka Kwartir Cabang tersebut tidak melampirkan bukti otentik.
                div(style='width:100%;height:1px;clear:both;')

block script
  script.
    var user = !{JSON.stringify(__defaultViewData.user)};
