/* Overridden Styles */

.logo-element {
  font-size: 12px;
}

/* General CSS */

.btn-jamnas-yellow {
	background-color: #EFCE0F!important;
	border-color: #EFCE0F!important;
	color: #FFFFFF !important;
}

.bg-jamnas-red {
	background-color: #B3121A!important;
	border-color: #B3121A!important;
	color: #FFFFFF !important;
}

.bg-jamnas-yellow {
  background-color: #EFCE0F!important;
	border-color: #EFCE0F!important;
	color: #FFFFFF !important;
}

.bg-gray {
  background-color: #EBEBEB!important;
	border-color: #EBEBEB!important;
	color: #FFFFFF !important;
}

.bg-dark-gray {
  background-color: #979797!important;
  border-color: #979797!important;
  color: #FFFFFF!important;
}

.bg-red {
    background-color: #E30000;
    color: #ffffff;
}

.bg-gray-landing-page {
    background-color: #f4f4f4;
}

.font-40 {
  font-size: 40pt;
}

.fg-white {
  color: #ffffff!important;
}

.fg-black {
  color: #000000;
}

.fg-red {
  color: #B3121A!important;
}

.fg-yellow {
  color: #EFCE0F;
}

.fg-gray {
  color: #EBEBEB;
}

.fg-red-scout {
  color: #E30000;
}

.nav > li.active-jamnas {
	border-left: 4px solid #EFCE0F;
}

.float-right {
  float: right;
}

.float-left {
  float: left;;
}

.align-center {
  text-align: center!important;
}

.align-left {
  text-align: left!important;
}

.align-right {
  text-align: right!important;
}

.bold-700 {
	font-weight: 700;
}

.no-margin {
  margin: 0!important;
}

.no-padding {
  padding: 0!important;
}

.no-padding-left {
  padding-left: 0!important;
}

.no-padding-right {
  padding-right: 0!important;
}

.no-padding-bottom {
  padding-bottom: 0px!important;
}

.margin-top-xxs {
  margin-top: 5px!important;
}

.margin-top-xs {
  margin-top: 10px;
}

.margin-top-md {
  margin-top: 20px;
}

.margin-top-lg {
  margin-top: 30px;
}

.margin-top-mlg {
  margin-top: 40px!important;
}

.margin-top-xlg {
  margin-top: 50px;
}

.margin-top-minus-xxs {
  margin-top: -5px!important;
}

.margin-top-minus-xs {
  margin-top: -10px!important;
}

.margin-top-minus-md {
  margin-top: -20px!important;
}

.margin-top-minus-lg {
  margin-top: -30px!important;
}

.margin-right-xs {
  margin-right: 10px!important;
}

.margin-right-md {
	margin-right: 20px !important;
}

.margin-bottom-xxs {
    margin-bottom: 5px!important;
}

.margin-bottom-xs {
    margin-bottom: 10px!important;
}

.margin-bottom-md {
	margin-bottom: 20px!important;
}

.margin-bottom-lg {
  margin-bottom: 30px !important;

}

.margin-bottom-xlg {
  margin-bottom: 50px!important;
}

.margin-left-xs {
  margin-left: 10px!important;
}

.margin-left-md {
  margin-left: 20px!important;
}

.margin-left-60 {
  margin-left: 60px!important;
}

.padding-xxs {
  padding: 5px!important;
}

.padding-xs {
  padding: 10px!important;
}

.padding-md {
  padding: 20px !important;
}

.padding-lg {
    padding: 30px !important;
}

.padding-top-bottom-xs {
  padding: 10px 0!important;
}

.padding-top-xxs {
  padding-top: 5px!important;
}

.padding-top-xs {
  padding-top: 10px!important;
}

.padding-top-md {
  padding-top: 20px!important;
}

.padding-top-lg {
  padding-top: 30px!important;
}

.padding-top-mlg {
  padding-top: 40px!important;
}

.padding-top-xlg {
  padding-top: 50px!important;
}

.padding-right-xs {
  padding-right: 10px!important;
}

.padding-right-md {
  padding-right: 20px!important;
}

.padding-bottom-xs {
  padding-bottom: 10px;
}

.padding-bottom-xxlg {
  padding-bottom: 50px;
}

.padding-left-xs {
  padding-left: 10px!important;
}

.height-40 {
  height: 40px;
}

.padding-170 {
    padding: 170px;
}

/* Login Form */

form#formLogin label {
  color: #fff;
}

form#formLogin button {
  background-color: #572886;
  border-color: #FFF;
  float: right;
}

/* Another styling */

.scout-branch-grid {
  border-radius: 5px;
  padding: 15px 20px;
}

.landing-background {
    background-image: url('../images/bg-landing.JPG');
    padding: 50px;
    height: 100vh;
    background-size: cover;
}

.landing-header {
    position: absolute;
    top: 0px;
    background: transparent;
    border-bottom: none !important;
}

.landing-header a {
    color: #ffffff;
}

.landing-header .nav > li > a:link, .landing-header .nav > li > a:visited {
    color: #ffffff;
}

.landing-header .nav > li > a:hover, .landing-header .nav > li > a:focus {
    color: #dddddd;
    background: transparent;
}

.welcome h1 {
    font-size: 54px;
    font-weight: 800;
    color: #ffffff;
}

.welcome h1 small {
    color: #ffffff;
    font-size: 50%;
}

.landing-about {
    padding: 15px;
}

.landing-login {
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 10px;
    margin: 100px 0px;
}

.landing-login h1 {
    margin-top:0px;
}

.landing-login .btn {
    font-size:200%;
    font-weight:bold;
    background-color: #572886;
    border-color: #FFF;
}

.title-center {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.title-center h5 {
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.right-border-less {
  border-right: none;
}

.left-border-less {
  border-left: none;
}

.btn-green {
  background-color: #1ab394!important;
  border-color: #1ab394!important;
  color: #FFFFFF;
}

.btn-green:hover {
  hover: #1ab394;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label {
  font-weight: 700;
  color: white;
  background-color: #1ab394;
  border-color: #1ab394;
  display: inline-block;
  padding: 5px 10px;
}

.inputFile:focus + label,
.inputFile + label:hover {
  background-color: #18a689;
}

.inputFile + label {
  cursor: pointer; /* "hand" cursor */
}

mark.register {
  padding: 3px 3px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.capitalized {
  text-decoration: capitalized;
}

.badgeTypeEntry {
  padding: 10px;
  margin: 0 5px 5px 0;
  display: inline-block;
  border: solid 1px #ebebeb;
}

.badgeTypeEntry a {
  color: #1ab394;
}

.badgeEntry {
  padding: 10px;
  margin: 4px 0 0;
  display: block;
  border: solid 1px #ebebeb;
  font-weight: bold;
}

.badgeEntry a {
  font-size: 0.7em;
  color: red;
}