extends ../../layouts/default-user

block content
  #header
  #scoutForm

block script
  script.
    // Global Page Data
    window.currentPageData = {
      branch: !{JSON.stringify(branch)},
      subbranch: !{JSON.stringify(subbranch)},
      user: !{JSON.stringify(__defaultViewData.user)}
    };

  script(src='/public/assets/js/scoutsAddPage.public.js')
