extends ../../layouts/default-user
block content
  #header
  #dashboard

block script
  script.
    // Global Page Data
    window.currentPageData = {
      user: !{JSON.stringify(__defaultViewData.user)}
    };
  script(src = '/public/assets/js/scoutBranchesIndexPage.public.js?version=#{version}')