extends ../../layouts/default-user

block content
  #header
  #scoutsIndex

block script
  script.
    window.currentPageData = {
      user: !{JSON.stringify(__defaultViewData.user)},
      branch: !{JSON.stringify(branch)},
      rawEnumData: !{JSON.stringify(rawEnumData)},
      subbranch: !{JSON.stringify(subbranch)}
    };

  script(src='/public/assets/js/scoutBranchesScoutIndexPage.public.js')
