.navbar-wrapper
  nav.navbar.landing-header(role='navigation')
    .container
      .navbar-header.page-scroll
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          img(src='public/assets/images/logo_jamnas_x.png')
