nav.navbar-default.navbar-static-side(role='navigation')
  .sidebar-collapse
    ul#side-menu.nav.metismenu
      li.nav-header
        .dropdown.profile-element
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            span.clear
              if (__defaultViewData.user)
                span.block.m-t-xs
                  strong.font-bold #{__defaultViewData.user.name}
                span.text-muted.text-xs.block
                  | #{__defaultViewData.user.role}
              else
                span.block.m-t-xs
                  strong.font-bold User Name
                span.text-muted.text-xs.block
                  | User Role 
        .logo-element
          | JAMNAS 2016
      
      each menu in __defaultViewData.menus.user
        if (menu.active)
          li.active-jamnas
            a(href='#{menu.url}')
              i.fa(class='fa-#{menu.icon}')
              span.nav-label #{menu.label}
        else
          li
            a(href='#{menu.url}')
              i.fa(class='fa-#{menu.icon}')
              span.nav-label #{menu.label}
