extends ../../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
      h2 Tambah Pengguna Baru
      ol.breadcrumb
        li
          a(href='/users') Pengguna
        li.active
          strong Tambah Pengguna Baru
    .col-lg-2
  .wrapper.wrapper-content
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Kelengkapan Data 
              small Penjabaran Data Pengguna Sistem
          .ibox-content(style='display: block;')
            #usersAddPageContainer

block script
  script(src='/public/assets/js/usersAddPage.public.js')
