extends ../../layouts/default-user

block content

    #add_new_committee

block script
    script(src='/public/assets/js/usersAddNewCommittee.public.js')
    //- namanya harus sesuai dengan yang ada di init-script
