extends ../../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      #HeaderAddParticipantsKwarda

  .wrapper.wrapper-content
    .row
      .col-lg-12
        #scoutsGrid



block script
  script(src='/public/assets/js/usersAddNewParticipant.public.js')
  //- namanya harus sesuai dengan yang ada di init-script
