extends ../../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      #HeaderAddParticipantsKwarda

  .wrapper.wrapper-content
    .col-lg-10.margin-bottom-xlg
      #participantsBasicForm
      #participantsAddressForm
      #participantsParentForm
      #participantsEducationForm
      #participantsScoutingForm
      #participantsCourseForm
      #participantsMedicalForm
      #participantsDocumentForm

block script
  script(src='/public/assets/js/usersAddNewBranchParticipant.public.js')
  script(type='text/javascript').
      var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
      }
      for (var selector in config) {
      $(selector).chosen(config[selector]);
      }
