extends ../../layouts/default-user

block content

    #add_departure_arrival_plan

block script
    script(src='/public/assets/js/usersAddDepartureArrivalPlan.public.js')
    //- namanya harus sesuai dengan yang ada di init-script
