extends ../../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      #headerAddParticipantsKwarda

  .wrapper.wrapper-content
    .col-lg-10.margin-bottom-xlg
      #kwardaWillingness



block script
  script.
    // Global Page Data
    window.currentPageData = {
      user: !{JSON.stringify(__defaultViewData.user)}
    };
  script(src='/public/assets/js/branchWillingnessLetter.public.js')
