extends ../../layouts/default-user

block content
   .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
      .col-lg-12
         #header

   .wrapper.wrapper-content
      .col-lg-10.margin-bottom-xlg
         #branch_transport_list



block script
   script(src='/public/assets/js/branchTransports.public.js')
