extends ../../layouts/default-user

block content

    #branch_registration

block script
    script.
        // Global Page Data
        window.currentPageData = {
            user: !{JSON.stringify(__defaultViewData.user)}
        };
    script(src='/public/assets/js/usersBranchRegistration.public.js')
    //- namanya harus sesuai dengan yang ada di init-script
