extends ../../layouts/default-user

block content

    #committee_list

block script
    script(src='/public/assets/js/usersCommitteeList.public.js')
    //- namanya harus sesuai dengan yang ada di init-script
