extends ../../layouts/default-user

block content

    #committee_view

block script
    script(src='/public/assets/js/usersCommitteeView.public.js')
    //- namanya harus sesuai dengan yang ada di init-script
