extends ../../layouts/default-user

block content
  #header
  #dashboard
  
block script
  script.
    // Global Page Data
    window.currentPageData = {
      branch: !{JSON.stringify(branch)},
      user: !{JSON.stringify(__defaultViewData.user)}
    };

  script(src='/public/assets/js/usersDashboardPage.public.js?version=#{version}')