extends ../../layouts/default-user

block content

    #departure_arrival_plan_view

block script
    script(src='/public/assets/js/usersDepartureArrivalPlanView.public.js')
    //- namanya harus sesuai dengan yang ada di init-script
