extends ../../layouts/login-form

block content
  .login-page(style='background-color:#B3111C; padding-top:50px; padding-bottom: 50px;')
    .container
      .row
        .col-lg-12.padding-lg
          .col-lg-4.col-lg-offset-1
            img(src='/public/assets/images/logo_general.jpg' style='width:100%;')
          .col-lg-7
            .col-lg-12
              h1.fg-white.bold-700   Pendaftaran Peserta
              h2.fg-white.margin-bottom-lg.margin-top-minus-xs Jambore Nasional X 2016

            .col-lg-12
              .col-lg-6.no-padding
                #loginFormContainer

            .col-lg-12.margin-top-md
              p.fg-white Untuk mendapatkan akses mendaftarkan peserta dari masing-masing Kwartir Daerah, harap menghubungi
                strong  ardya@optimora.com
                |  atau
                strong  +62 812 8811 1804

        div.col-lg-12.margin-top-md
          div.hr-line-dashed.no-margin



        .col-lg-12.margin-top-md
          a.btn.bg-gray(href='http://www.jamborenasional.com' target="_self" class='fg-red') <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Kembali

block script
  script(src='/public/assets/external/bootstrap-3.3.6-dist/js/bootstrap.min.js')

  script(src='/public/assets/js/usersLoginPage.public.js')
