extends ../../layouts/default-user

block content

  #participant_list

block script
  script(src='/public/assets/js/usersParticipantList.public.js')
  //- namanya harus sesuai dengan yang ada di init-script
