extends ../../layouts/default-user

block content

  #participant_view

block script
  script(src='/public/assets/js/usersParticipantView.public.js')
  //- namanya harus sesuai dengan yang ada di init-script
