extends ../../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      #headerAddParticipantsKwarda

  .wrapper.wrapper-content
    .col-lg-10.margin-bottom-xlg
      #kwarcabWillingness



block script
  script(src='/public/assets/js/subBranchWillingnessLetter.public.js')
