extends ../../layouts/default-user

block content

    #subbranch_registration

block script
    script(src='/public/assets/js/usersSubBranchRegistration.public.js')
    //- namanya harus sesuai dengan yang ada di init-script
