extends ../../layouts/default-user

block content

    #subbranch_registration_view

block script
    script(src='/public/assets/js/usersSubBranchRegistrationView.public.js')
    //- namanya harus sesuai dengan yang ada di init-script
