doctype html
html(lang="en")
  head
    title= title

  body
    script.
      window.queryString = !{JSON.stringify(queryString)};
      if (window.queryString.callbackFunctionName) {
        window.top.window[window.queryString.callbackFunctionName](!{JSON.stringify(data)});
      }
      else {
        window.top.window.__jamnas2016FileInputFieldNotify(!{JSON.stringify(data)});
      }
