extends ../../layouts/default-user
block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      #container

block script
  script(src='/public/assets/js/usersUploadTest.public.js')
