extends ../../layouts/default-user

block content
  #header
  #scoutForm

block script
  script.
    window.currentPageData = {
      user: !{JSON.stringify(__defaultViewData.user)},
      branch: !{JSON.stringify(branch)},
      subbranch: !{JSON.stringify(subbranch)}
    };

  script(src='/public/assets/js/scoutsAddPage.public.js?version=#{version}')
