extends ../../layouts/default-user
block content
  #header
  #scoutDetail

block script
  script.
    // Global Page Data
    window.currentPageData = {
      branch: !{JSON.stringify(branch)},
      scout: !{JSON.stringify(scout)},
      subbranch: !{JSON.stringify(subbranch)},
      user: !{JSON.stringify(__defaultViewData.user)}
    };
    // Sanitizing data.
    window.currentPageData.scout.birthday = new Date(window.currentPageData.scout.birthday);

  script(src='/public/assets/js/scoutsDetailPage.public.js')
