extends ../../layouts/default-user
block content
  #header
  #scoutForm
block script
  script.
    // Global Page Data
    window.currentPageData = {
      badgeTypes: !{JSON.stringify(badgeTypes)},
      branch: !{JSON.stringify(branch)},
      branches: !{JSON.stringify(branches)},
      committeeRoles: !{JSON.stringify(committeeRoles)},
      enumStringMap: !{JSON.stringify(enumStringMap)},
      locations: !{JSON.stringify(locations)},
      subbranch: !{JSON.stringify(subbranch)},
      scout: !{JSON.stringify(scout)},
      user: !{JSON.stringify(__defaultViewData.user)}
    };

    // Sanitizing data.
    window.currentPageData.scout.birthday = new Date(window.currentPageData.scout.birthday);

  script(src='/public/assets/js/scoutsEditPage.public.js?version=#{version}')
