extends ../../layouts/default-user

block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      #HeaderAddParticipantsKwarda

  .wrapper.wrapper-content
    .col-lg-10.margin-bottom-xlg
      #scoutForm

    .col-lg-2
      h3 Jumlah Peserta Kontingen Kwartir Cabang Jakarta Selatan

block script
  script(src='/public/assets/js/scoutsAddPage.public.js')
