extends ../../layouts/default-user
block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      #header
  .wrapper.wrapper-content
    .col-lg-12.margin-bottom-xlg
      #main

block script
  script(src='/public/assets/js/administrationPaymentConfirmations.public.js?version=#{version}')
