extends ../../layouts/default-user
block content
  .row.wrapper.border-bottom.white-bg.page-heading.padding-bottom-xs
    .col-lg-12
      #header

  .wrapper.wrapper-content
    .col-lg-12.margin-bottom-xlg
      #branch_transport_list

block script
  script.
    // Global Page Data
    window.currentPageData = {
      user: !{JSON.stringify(__defaultViewData.user)}
    };
  script(src='/public/assets/js/administrationTransportation.public.js?version=#{version}')
