doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="jambore nasional, pramuka, praja muda karana")
    meta(name="description", content="Situs Resmi Jambore Nasional 2016.")
    meta(name="author", content="Kwarnas")

    link(href="/public/assets/external/inspinia/css/bootstrap.min.css", rel="stylesheet")
    link(href="/public/assets/external/font-awesome-4.5.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="/public/assets/external/inspinia/css/animate.css", rel="stylesheet")
    link(href="/public/assets/external/inspinia/css/style.css", rel="stylesheet")
    link(href="/public/assets/external/chosen/chosen.css", rel="stylesheet")
    link(href='/public/assets/external/datepicker/datepicker3.css', rel='stylesheet')
    link(href='/public/assets/external/clockpicker/clockpicker.css', rel='stylesheet')

    block seo

    style.
      .navbar-default { background-color: #fff; }

    block style

body(style='background-color: #B3111C;')
  block header

  #wrapper
    include ../elements/navigation-site

    .container

      block content

      .footer
        div
          strong &copy; JAMNAS 2016

      block footer

  script(src='/public/assets/external/jquery/jquery-1.12.2.min.js')
  script(src='/public/assets/external/inspinia/js/bootstrap.min.js')
  script(src='/public/assets/external/inspinia/js/plugins/metisMenu/jquery.metisMenu.js')
  script(src='/public/assets/external/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js')
  script(src='/public/assets/external/inspinia/js/plugins/pace/pace.min.js')
  script(src='/public/assets/external/inspinia/js/inspinia.js')
  script(src='/public/assets/external/chosen/chosen.jquery.js')
  script(src='/public/assets/external/datepicker/bootstrap-datepicker.js')
  script(src='/public/assets/external/clockpicker/clockpicker.js')
  script(src='/public/assets/external/ga/ga.js')

  block script
