doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="jambore nasional, pramuka, praja muda karana")
    meta(name="description", content="Situs Resmi Jambore Nasional 2016.")
    meta(name="author", content="Kwarnas")

    link(href="/public/assets/external/inspinia/css/bootstrap.min.css", rel="stylesheet")
    link(href="/public/assets/external/font-awesome-4.5.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="/public/assets/external/inspinia/css/animate.css", rel="stylesheet")
    link(href="/public/assets/external/inspinia/css/style.css", rel="stylesheet")
    link(href="/public/assets/external/chosen/chosen.min.css", rel="stylesheet")
    link(href='/public/assets/external/datepicker/datepicker3.css', rel='stylesheet')
    link(href='/public/assets/external/clockpicker/clockpicker.css', rel='stylesheet')
    link(href='/public/assets/external/sweetalert/sweetalert.css', rel='stylesheet')

    link(href="/public/assets/css/style.css", rel="stylesheet")

    block seo

    block style

body
  block header

  #wrapper
    include ../elements/navigation-user

    #page-wrapper.gray-bg
      .row.border-bottom
        nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
          .navbar-header
            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary.btn-jamnas-yellow(href='#')
              i.fa.fa-bars
            //- form.navbar-form-custom(role='search', method='post', action='#')
              .form-group
                input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
          ul.nav.navbar-top-links.navbar-right
            li
              a(href='/users/logout')
                i.fa.fa-sign-out
                |  Log out

      block content

      .footer
        div
          strong &copy; JAMBORE NASIONAL X 2016

      block footer

      .div(style='width:100%; height:1px; clear:both;')


  script(src='/public/assets/external/jquery/jquery-1.12.2.min.js')
  script(src='/public/assets/external/bootstrap-3.3.6-dist/js/bootstrap.min.js')
  script(src='/public/assets/external/inspinia/js/plugins/metisMenu/jquery.metisMenu.js')
  script(src='/public/assets/external/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js')
  script(src='/public/assets/external/inspinia/js/plugins/pace/pace.min.js')
  script(src='/public/assets/external/inspinia/js/inspinia.js')
  script(src='/public/assets/external/chosen/chosen.jquery.js')
  script(src='/public/assets/external/datepicker/bootstrap-datepicker.js')
  script(src='/public/assets/external/clockpicker/clockpicker.js')
  script(src='/public/assets/external/ga/ga.js')

  script.
    var user = !{JSON.stringify(__defaultViewData.user)};

  block script
