extends ../../layouts/default-user
block content
  #header
  #scoutForm
block script
  script.
    // Global Page Data
    window.currentPageData = {
      branch: !{JSON.stringify(branch)},
      branches: !{JSON.stringify(branches)},
      enumStringMap: !{JSON.stringify(enumStringMap)},
      committeeRoles: !{JSON.stringify(committeeRoles)},
      user: !{JSON.stringify(__defaultViewData.user)}
    };
  script(src='/public/assets/js/scoutCommitteeAddPage.public.js?version=#{version}')
