extends ../../layouts/default-user
block content
  #header
  #scoutForm
block script
  script.
    // Global Page Data
    window.currentPageData = {
      enumStringMap: !{JSON.stringify(enumStringMap)},
      user: !{JSON.stringify(__defaultViewData.user)}
    };
  script(src='/public/assets/js/scoutCommitteeIndexPage.public.js?version=#{version}')
